<template name="leftSidebar">
  <section class="sidebar left">
    <nav class="sidebarHeader">
      <li class="sidebarHeaderItem"><a class="sidebarHeaderItemLink" href="{{pathFor 'home'}}">All</a></li>
      <li class="sidebarHeaderItem"><a class="sidebarHeaderItemLink" href="{{pathFor 'games'}}">Games</a></li>
      <li class="sidebarHeaderItem"><a class="sidebarHeaderItemLink" href="{{pathFor 'movies'}}">Movies</a></li>
      <li class="sidebarHeaderItem"><a class="sidebarHeaderItemLink" href="{{pathFor 'shows'}}">Shows</a></li>
    </nav>
    <div class="sidebarContent">
      LEFT SIDEBAR CONTENT
    </div>
    <ul class="sidebarNotches">
      <li class="sidebarNotch"></li>
      <li class="sidebarNotch"></li>
      <li class="sidebarNotch"></li>
      <li class="sidebarNotch"></li>
    </ul>
  </section>
</template>