<template name="rightSidebar">
  <section class="sidebar right">
    <nav class="sidebarHeader">
      {{#if currentUser}}
      {{#with currentUser}}
      <li class="sidebarHeaderItem">
        <a class="sidebarHeaderItemLink">
          {{username}}
        </a>
      </li>
      <li class="sidebarHeaderItem">
        <a class="sidebarHeaderItemLink" data-action="logout">
          Logout
        </a>
      </li>
      {{/with}}
      {{else}}
      <li class="sidebarHeaderItem"><a class="sidebarHeaderItemLink" data-action="loginForm">Login</a></li>
      <li class="sidebarHeaderItem"><a class="sidebarHeaderItemLink" data-action="signupForm">Signup</a></li>
      {{/if}}
    </nav>
    <div class="sidebarContent">
      {{#if currentUser}}
        Logged In Content Will Go Here
        {{#if currentContent}}
          {{title}}
          <div class="publishContentInfo">p</div>
          <div class="addContentInfo">+</div>
        {{/if}}
      {{else}}
        {{>signupForm}}
        {{>loginForm}}
      {{/if}}
    </div>
    <ul class="sidebarNotches">
      <li class="sidebarNotch"></li>
      <li class="sidebarNotch"></li>
      <li class="sidebarNotch"></li>
      <li class="sidebarNotch">{{icon 'edit'}}</li>
    </ul>
  </section>
</template>