@import 'nib'
@import '../palette'

//Components Styles
.componentsHelper
	background shadow
	color offWhite
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	overflow-x hidden
	overflow-y scroll
	padding 40px
	font-family sans-serif
	display none
.componentWrapper
	float left
	width 100%
	border-top 1px solid offWhite
	border-bottom 1px solid offWhite
	padding 10px 0 20px 0
.componentTitle
	margin 0 0 10px 0
ul
	list-style none
	margin 0
	padding 0
	float left
	width 100%
ul li
	margin 0
.childHeader
	float left
	clear left
	list-style none
	display block
	margin-bottom 20px
	font-size 18px
	font-weight bold
.childHeader:last-child
	margin 0
.listHeader
	display block
	float left
	text-align center
	width 100%
	font-size 14px
	margin-bottom 10px
.listContent
	clear left
	position relative
	display table
	margin 0 auto
	font-size 14px
.child
	float left
	clear left
	margin 5px 0 0 0
	font-weight normal
	color lighterGrey
.child li:first-child
	margin-left 0
.child li
	float left
	clear none
	margin-left 10px
.child .childList
	clear left
	margin 10px 0 10px 0
	color offWhite
.child .childList .child
	margin 10px 0 0 0
	color lighterGrey
.parentList
	margin 0 0 0 0