@import 'nib'
@import '../variables'

.grid
  margin 80px 40px 0 40px
  background transparent
.cell
  minSize(auto,auto)
  size(auto,auto)
  maxSize(auto,auto)
  background transparent
  margin 20px 10px 0 10px
  cursor pointer
  float left
  padding 10px
.cellTitle
  font-size 18px
.cellContent
  font-size 14px
