@import 'nib'
@import 'variables'

*
  box-sizing border-box
  -webkit-tap-highlight-color transparent
  color white(0.9)
html
  height 100%
  background white(0.9)
body
  margin 0
  font-family 'Play', sans-serif
  font-weight 300
  font-size 14px
  height 100%
  background white(0.9)
  overflow-y scroll
input,button,textarea
  margin 0
  border none
  border-radius 0
  appearance none
  user-select text
  resize none
  display block
input:focus,
textarea:focus
  outline none
//Placeholder Styles
input::-webkit-input-placeholder
  color white(0.5)
input::-moz-placeholder
  color white(0.5)
input:-ms-input-placeholder
  color white(0.5)
select
  cursor pointer
nav,ul,ol
  list-style none
  margin 0
  padding 0
table
  border-spacing 0
tr,th,td
  font-weight normal
h1,h2,h3,h4,h5,h6
  padding 0
  margin 0
  font-weight normal
a
  display block
  text-decoration none
  text-transform capitalize
  color inherit
p
  margin 0
a:hover,a:active,a[data-active="true"]
  text-decoration none
  color radiantBlue(0.9)