@import 'nib'
@import 'variables'

#contentPane
  .contentInfo
    position(relative)
    cursor default
    margin 0 0 20px 0
    border 1px solid rgba(0, 0, 0, 0.1)
    border-radius 4px
    background rgba(235,235,235,0.5)
    width 100%
    float left
    overflow hidden
    &[data-context="rewards"]
      size(390,192)
      margin 0 20px 20px 0
      .content
        height 140px
        max-height 140px
        overflow hidden
        padding 5px 10px 10px 0
      &:nth-child(even)
        margin 0 0 20px 0
    .contentOptions
      padding 10px
      float left
      .contentIcon
        background-color rgba(215,215,215,0.35)
        background-size cover
        background-repeat no-repeat
        border 1px dotted rgba(0,0,0,0.3)
        border-radius 4px
        float left
        margin 0 0 10px 0
        size(80,80)
        position(relative)
        cursor pointer
        &[data-image="true"]
          border 0
          box-shadow 0 0 1px 0 rgba(0,0,0,1)
        .contentIconText
          position(absolute,auto,0,5,0)
          font-size 12px
          color midnight(0.5)
          text-align center
          pointer-events none
        .iconWrapper
          size(40,40)
          position(absolute,14,0,0,0)
          margin 0 auto
          pointer-events none
        &:hover
          .icon > *
            fill midnight(0.9)
          .contentIconText
            color radiantBlue(0.9)
        .preview
          .filename
            display none
          .size
            display none
          .progress
            display none
          .success-mark
            display none
          .error-mark
            display none
          .error-message
            display none
        .contentIconEdit
          position(absolute,0,0,0,0)
          background rgba(0,0,0,0.8)
          pointer-events none
          display none
          border-radius 4px
          .iconWrapper
            .icon > *
              fill white(0.9)
        &:hover
          .contentIconEdit
            display block
            .contentIconText
              color white(0.9)
      .contentOptionsButton
        size(80,30)
        background midnight(0.9)
        color white(0.9)
        text-align center
        float left
        clear left
        border 0
        overflow hidden
        text-overflow ellipsis
        whitespace nowrap
        padding 6px
        cursor pointer
        &::-webkit-input-placeholder
          color white(0.6)
        &::-moz-placeholder
          color white(0.6)
        &:-ms-input-placeholder
          color white(0.6)
        &:hover
          color radiantBlue(0.9)
    .contentOwner
      display inline-block
      padding 10px 0 0 10px
      font-weight bold
    .contentPost
      float left
      width 100%
      //padding 10px
      .title
        font-size 24px
        min-height 50px
        padding 10px
        border-bottom 1px solid rgba(0,0,0,0.1)
    .form
      max-width none
      border none
      border-top 1px solid rgba(0,0,0,0.1)
      border-radius 0 0 4px 4px
      .formInput
        padding 10px
        //min-height 40px
        font-size 14px
        background rgba(245,245,245,0.5)
    //margin 0 30px 10px 30px
    //This is for handling nested content styles (i.e. posts and replies)
    .contentInfo
      padding 0
      margin 0
      border none
      border-top 1px solid rgba(0,0,0,0.1)
      background rgba(225,225,225,0.3)
      border-radius 0
    //We have this so that the mouse cursor is a pointer if the user is able to edit,
    //It has no actual functional purpose, and is merely meant to serve aesthetics.
    &[data-editable="true"]
      cursor pointer
    .content
      line-height 1.5
      padding 10px 10px 10px 10px
      //padding 10px 0 10px 0
      //margin 0 30px 0 30px
      .post
        padding 0
    &:last-of-type
      //margin 0 30px 0 30px
    &:hover
      [contenteditable="true"]
        //border-color rgba(0,0,0,0.5)
      .remove
        display block
    .postContentInfo
      minSize(auto,40)
      border-top 1px solid rgba(0,0,0,0.1)
      color midnight(0.5)
      &:hover, &:focus
        color midnight(0.9)
  .remove
    minSize(24,24)
    size(24,24)
    maxSize(24,24)
    cursor pointer
    position(absolute,auto,auto,auto,0)
    top 50%
    margin -12px 0 0 0
    display none