@import 'nib'
@import 'variables'

@font-face
  font-family 'Play'
  font-style normal
  font-weight 300
  src local('Play'), url('/fonts/IkErdnKw9ItVkLeeur9GHfesZW2xOQ-xsNqO47m55DA.woff') format('woff')
@font-face
  font-family 'Play'
  font-style normal
  font-weight 700
  src local('Play-Bold'), url('/fonts/aBiGxW3iLixHo08CkkYT9gLUuEpTyoUstqEm5AMlJo4.woff') format('woff')