@import 'nib'
@import 'variables'

#overlay
  position(fixed,0,0,140px,0)
  background rgba(240,240,240,1)
  z-index 98
  &[data-hidden="true"]
    display none
#content
  position(absolute,0,0,0,0)
  overflow(hidden,auto)
#centeredContent
  margin 0 220px 0 220px
  //margin 0 auto 0 auto
  //max-width 400px
  .cinder
    position(static)
    margin 0 auto 40px auto
    size(240,240)
    .iconWrapper
      cursor auto
  .contentHeader
    text-transform uppercase
    font-size 36px
    margin 20px 0 0 0
  .contentText
    margin 20px 0 0 0
  .contentLink
    display inline
    cursor pointer
    color midnight(0.5)
    text-transform none
    &:hover
      color radiantBlue(0.9)
  #filteredContentWrapper
    text-align center
    position(absolute,0,0,0,0)
    overflow(hidden,scroll)
    &:before
      content ""
      display inline-block
      height 100%
      vertical-align middle
  #centeredFilteredContent
    display inline-block
    vertical-align middle
    min-width 360px
    max-width 400px
    padding 20px 0 20px 0
    text-align left
#contentPane
  position(relative)
  margin 0 auto 0 auto
  max-width 800px
  //background red
#contentMasthead
  position relative
  height 100px
  padding 20px 10px 10px 90px
  margin 0 0 20px 0
#contentEntry
  margin 0 0 20px 0
  padding 30px 0 0 0
  position(relative)
  #contentToolbar
    position(absolute,0,0,auto,0)
    size(auto,20)
    .toolbarList
      position(absolute,0,0,0,0)
      size(auto,inherit)
      .toolbarListItem
        size(auto,inherit)
        padding 0 0 0 30px
        line-height 20px
        cursor pointer
        float left
        &:hover
          color radiantBlue(0.9)
          .icon > *
            fill radiantBlue(0.9)
        .toolbarListItemIcon
          position(absolute,0,auto,auto,0)
          size(20,20)
  .contentBox
    border 1px dotted rgba(0,0,0,0.3)
    border-radius 4px
    min-height 150px
    .form
      max-width none
      .formSection
        margin 0
        &:first-of-type
          border-radius 4px 4px 0 0
          border-bottom 1px dotted rgba(0,0,0,0.3)
        &:last-of-type
          border-radius 0 0 4px 4px
          font-size 14px
        .formInput
          border-radius 0
          background transparent
          &:first-of-type
            height 40px
            padding 10px
            font-size 14px
          &:last-of-type
            font-size 14px
      .formSubmit
        display none
    .content
      border none
      &:first-of-type
        border-bottom 1px dotted rgba(0,0,0,0.1)
        border-radius 2px 2px 0 0
      &:last-of-type
        border-radius 0 0 2px 2px
  .content
    background rgba(235,235,235,0.5)
    color midnight(0.5)
    border 1px dotted rgba(0,0,0,0.1)
    border-radius 4px
    > *
     color midnight(0.5)
    &:hover, &:focus
      background white(0.9)
      color midnight(0.9)
      > *
       color midnight(0.9)
#contentOwner
  color midnight(0.5)
  display inline
  &:hover
    color radiantBlue(0.9)
#contentPreview
  size(80,80)
  position(absolute,20px,auto,auto,0)
  background-size cover
  background-position 50% 50%
  background-repeat no-repeat
  border 1px solid rgba(0, 0, 0, 0.1)
  cursor pointer
  .playIconWrapper
    size(40,40)
    position(absolute,20px,auto,auto,20px)
    .playIconFill
      fill white(0.9)
  &:hover
    #contentPlay
      display block
#contentPlay
  position(absolute,0,0,0,0)
  background rgba(0,0,0,0.5)
  display none
#contentTitle
  text-transform uppercase
  font-size 36px
  width 100%
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
  line-height 1
  background transparent
  padding 0
.contentList
  margin 8px 0 0 0
  .contentListItem
    float left
    cursor pointer
    margin 0 10px 0 0
    height 20px
    line-height 20px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    padding 0 0 0 20px
    position(relative)
    .contentListItemIcon
      size(16,16)
      position(absolute,2,auto,auto,0)
      &:after
        content ""
        position(absolute,0,0,0,0)
        border 1px solid rgba(0, 0, 0, 0.1)
        border-radius 20px
        z-index 1
        pointer-events none
    .contentListItemLink
      display inline
      color midnight(0.5)
      &:hover
        color radiantBlue(0.9)