@import 'nib'
@import 'variables'

#playerWrapper
  position(fixed,0,0,0,0)
  height 100%
  width 100%
  border 0
  background rgba(0,0,0,1)
  background #111
  text-align center
  #playerIcon
    position(absolute,auto,auto,auto,auto)
    top 50%
    left 50%
    size(240px,240px)
    margin -160px 0 0 -120px
    z-index 1
    .icon > *
      fill rgba(255,255,255,1)
    &[data-isVisualizing="true"]
      .icon > *
        fill rgba(0,0,0,1)
        fill #111
  #promise
    position(absolute,auto,auto,auto,auto)
    top 50%
    left 50%
    z-index 1
    width 360px
    text-align center
    font-size 20px
    margin 100px 0 0 -180px
    color #111
  &:after
    content ""
    position(absolute,0,0,0,0)
    background-image url("/images/maskLarge.png")
    background-position 50% 50%
    background-repeat no-repeat
    pointer-events none
    display none
  .sketch
    position(absolute,0,0,0,0)
  &:before
    content ""
    display inline-block
    height 100%
    vertical-align middle
  #media
    height 100%
    width 100%
    position(absolute,0,0,0,0)
#player
  height 100%
  width 100%
  background inherit
  position(absolute,0,0,0,0)
  display inline-block
  vertical-align middle
#playerControls
  height 140px
  cursor pointer
  position(fixed,auto,0,0,0)
.control
  size(60,60)
  position(absolute,auto,0,60px,0)
  margin 0 auto
  display none
  &.play[data-isPlaying="false"]
    display block
  &.pause[data-isPlaying="true"]
    display block
.sliderWrapper
  size(auto,20)
  position(absolute,auto,20px,20px,20px)
  &:hover
    .handle
      display block
.slider
  size(auto,6)
  position(absolute,auto,0,7px,0)
  background gray
.track
  size(auto,6px)
  position(absolute,auto,0,0,0)
  background blue
.bar
  size(auto,6px)
  position(absolute,auto,50px,0,0)
  background purple
.handle
 size(20,20)
 position(absolute,-7px,40px,0,auto)
 background orange
 display none
 &:hover
  background red
.time
  position(absolute,auto,auto,35px,20px)
.duration
  position(absolute,auto,220px,35px,auto)
.sliderWrapper.progress
  right 220px
  .slider
    left 0
.sliderWrapper.volume
  size(130,20)
  position(absolute,auto,50px,20px,auto)
  .slider
    left 30px
  .volumeIcon
    size(20,20)
    position(absolute,0,auto,auto,0)
    background yellow
.enterFullscreen,
.exitFullscreen
  size(20,20)
  position(absolute,auto,20px,20px,auto)
  background purple