@import 'nib'
@import 'variables'

.sidebar
  minSize(200)
  size(200)
  maxSize(200)
  z-index 1
  pointer-events none //We have this so that the user can scroll even if their mouse is hovering over a sidebar
  &.left
    position(absolute,60px,auto,0,20)
    .sidebarHeader
      left 0
      padding 0 0 0 45px
      &:after
        left 0
  &.right
    position(absolute,0,0,0,auto)
    .sidebarHeader
      right 0
      &:after
        right 0
    .sidebarList
      float right
.sidebarHeader
  size(auto,inherit)
  position(absolute,auto,auto,auto,auto)
  centerText(40)
  .sidebarHeaderItem
    float left
    size(auto,inherit)
    padding 0 10px 0 10px
    cursor pointer
    &:first-child
      padding 0 10px 0 0
    &:last-child
      padding 0 0 0 10px
.sidebarContentSection
  width 100%
  margin 10px 0 0 0
  padding 10px 0 0 0
  .sidebarContentSectionHeader
    font-size 12px
    font-weight bold
    text-transform uppercase
    color midnight(0.5)
  .sidebarList
    width 100%
    margin 0 0 20px 0
    pointer-events auto //Re-enable pointer-events so that the user can still click on list items
    .sidebarListItem
      height 20px
      line-height 20px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      padding 0 0 0 20px
      position(relative)
      .sidebarListItemLink
        cursor pointer
        display inline
      &:hover
        .siderbarListItemLink
          color radiantBlue(0.9)
    .sidebarListItemIcon
      size(16,16)
      position(absolute,2,auto,auto,0)
      background-size cover
      background-position 50% 50%
      background-repeat no-repeat
      border-radius 20px
      &:after
        content ""
        position(absolute,0,0,0,0)
        border 1px solid rgba(0, 0, 0, 0.1)
        border-radius 20px
        z-index 1
        pointer-events none