@import "nib"
@import "variables"

.player
  position(fixed,0,0,0,0)
  background black()
  width 100%
  height 100%
  .playerMasthead
    display table
    width 100%
    height 100%
    .playerMastheadInfo
      display table-cell
      vertical-align middle
      .playerMastheadInfoContent
        max-width 960px
        margin 0 auto
        .playerMastheadIcon
          size(120,120)
          border-radius 120px
          margin 0 auto 20px auto
          background white()
        .playerMastheadTitle
          futura(20,white())
          margin 0 auto 20px auto
        .playerMastheadSubtitle
          max-width 320px
          margin 0 auto 20px auto
          color white()
          font-size 18px
  .playerControls
    height 110px
    position(fixed,auto,0,0,0)
    .control
      size(40,40)
      border-radius 40px
      position(absolute,auto,0,50,0)
      margin 0 auto
      background white()
      cursor pointer
      transition all .25s ease-in-out
      &:hover
        transform scale3d(1.2,1.2,1.2)
    .time
      position(absolute,auto,auto,32,20)
      font-size 12px
      color offerGray()
    .volumeIcon
      size(20,20)
      border-radius 20px
      position(absolute,auto,160,20,auto)
      background white()
      cursor pointer
      transition all .25s ease-in-out
      &:hover
        transform scale3d(1.2,1.2,1.2)
    .sliderWrapper
      size(auto,20)
      position(absolute,auto,20,20,20)
      cursor pointer
      &.progress
        right 220px
        .slider
          left 0
          .track
            .bar
              right 150px
      &.volume
        size(100,20)
        position(absolute,auto,50,20,auto)
      &:hover
        .slider
          .track
            .bar
              .handle
                transform scale3d(1,1,1)
                &:hover
                  transform scale3d(1.2,1.2,1.2)
      .slider
        size(auto,4)
        border-radius 4px
        position(absolute,auto,0,7,0)
        background offWhite(0.2)
        .track
          size(auto,4px)
          border-radius 4px
          position(absolute,auto,50,0,0)
          background offWhite(0.2)
          .bar
            size(auto,4px)
            border-radius 4px
            position(absolute,auto,0,0,0)
            background offWhite()
            .handle
              size(20,20)
              border-radius 20px
              position(absolute,-8,-10,0,auto)
              background offWhite()
              transform scale3d(0,0,0)
              transition all .25s ease-in-out
    .duration
      position(absolute,auto,220,32,auto)
      font-size 12px
      color offerGray()
    .enterFullscreen,
    .exitFullscreen
      size(20,20)
      border-radius 20px
      position(absolute,auto,20,20,auto)
      background white()
      cursor pointer
      transition all .25s ease-in-out
      &:hover
        transform scale3d(1.2,1.2,1.2)

.heroVideo
  position(fixed,0,0,0,0)
  min-width 100%
  min-height 100%
  width auto
  height auto
  z-index 2
  overflow(hidden)
  pointer-events none
  background-color midnight()
  background-image url("/images/hero.png")
  background-size cover
  background-repeat no-repeat
  background-position 50% 50%
  background-attachment fixed
.overlay
  position(absolute,0,0,110,0)
  background offWhite()
  transition all 0.25s ease-in-out
  &[data-hidden="true"]
    transform translate3d(0,-100%,0)
  &[data-playing="false"]
    bottom 0
  .contentWrapper
    z-index 0

.logo
  position(absolute,10,auto,auto,10)
  transition all .25s ease-in-out
  padding 0 0 0 40px
  cursor pointer
  size(auto,30)
  futura()
  &.white
    .logoIcon
      background offWhite()
    .logoText
      color offWhite()
  &.black
    .logoIcon
      background midnight()
    .logoText
      color midnight()
  &:hover
    transform scale3d(1.1,1.1,1.1)
  .logoIcon
    size(30,30)
    border-radius 30px
    position(absolute,0,auto,auto,0)
  .logoText
    size(auto,30)
    font-size 20px
    line-height 30px

.sidebar
  position(absolute,0,auto,0,auto)
  size(190,auto)
  text-align left
  z-index 1
  &.left
    left 0
    padding 50px 10px 0 10px
  &.right
    top 10px
    right 10px
    bottom auto
    background white()
    border-radius borderRadius
    border 1px solid black(0.1)
    .sidebarInfo
      display block
      height 140px
      background midnight()
      position(relative)
      cursor pointer
      background-size cover
      background-position 50% 50%
      background-repeat no-repeat
      padding 10px
      &:first-of-type
        border-radius borderRadius borderRadius 0 0
        .sidebarInfoBackdrop
          border-radius borderRadius borderRadius 0 0
      .sidebarInfoBackdrop
        position(absolute,0,0,0,0)
        background black(0.4)
      .sidebarSubHeader
        futura(12,gray())
        padding 0
        text-align left
        white-space nowrap
        overflow(hidden)
        text-overflow ellipsis
        position(relative)
      .sidebarHeader
        display block
        futura(18,white())
        padding 0
        text-align left
        white-space nowrap
        overflow(hidden)
        text-overflow ellipsis
        position(relative)
      .sidebarInfoText
        color white()
        size(auto,12)
        font-size 12px
        position(absolute,auto,10,10,auto)
        &:hover
          color highlight()
    .sidebarList
      margin 0
      &:last-of-type
        .sidebarListItem
          &:last-of-type
            .sidebarListItemLink
              &:hover
                border-radius 0 0 borderRadius borderRadius
      .sidebarListItem
        height 34px
        line-height 34px
        border-bottom 1px solid gray()
        &:last-child
          border-bottom none
        .sidebarListItemLink
          width 100%
          padding 0 0 0 30px
          &[data-current="true"]
            .sidebarListItemIcon
              background highlight()
            .sidebarListItemText
              color highlight()
          &:hover
            .sidebarListItemIcon
              background highlight()
            .sidebarListItemText
              color highlight()
          .sidebarListItemIcon
            top 9px
            left 10px
  .sidebarHeader
    futura(10,offerGray())
    text-align left
  .sidebarList
    margin 0 0 10px 0
    .sidebarListItem
      position(relative)
      size(auto,20)
      .sidebarListItemLink
        position(relative)
        display inline-block
        cursor pointer
        padding 0 0 0 20px
        transition all .25s ease-in-out
        &[data-current="true"]
          .sidebarListItemIcon
            background highlight()
          .sidebarListItemText
            color highlight()
        &:hover
          .sidebarListItemIcon
            background highlight()
          .sidebarListItemText
            color highlight()
        .sidebarListItemIcon
          position(absolute,2,auto,auto,0)
          background midnight()
          size(14,14)
          border-radius 14px
          transition all .25s ease-in-out
        .sidebarListItemText
          transition all .25s ease-in-out
.section
  position(relative,0)
  float left
  width 100%
  padding 10px
  background-size cover
  background-position 50% 50%
  padding 20px 0 20px 0
  background offWhite()
  &.intro
    height 800px
    display table
    .pane
      display table-cell
      text-align center
      vertical-align middle
  &.learn
    .pane
      display table
  &.tiles
    overflow(hidden)
    .pane
      margin 0 auto
      //max-width 1600px
  .sectionTitle
    futura(26,midnight())
    margin 0 0 20px 0
  &.profile
    padding 0 0 20px 0
  &:nth-of-type(odd)
    background-color black(0.5)
    .sectionTitle
      futura(26,white())
    .button
      background white()
      border 2px solid white()
      futura(20,midnight())
      &:hover
        background transparent
        color white()
.pane
  min-width 320px
  max-width 960px
  margin 0 auto
.contentWrapper
  overflow(hidden,auto)
  height 100%
  position(relative)
  z-index 2
  padding 0 200px 0 150px
  //background offWhite()
.content
  min-width 320px
  max-width 960px
  margin 0 auto
  padding 0 0 40px 0
  vertical-align middle
  z-index 1
.column
  float left
  margin 0 10px 30px 10px
  //padding 0 5px 0 5px
  //border-left 5px solid white()
  //border-right 5px solid white()
  min-width 300px
  max-width 300px
  //border 1px solid offerWhite()
  background-color white()
  border-radius borderRadius
  padding 20px 10px 20px 10px
  font-size 16px
  .columnIcon
    size(160,160)
    line-height 160px
    background midnight()
    border-radius 160px
    margin 40px auto 40px auto
    text-align center
    futura(20,white())
  .columnTitle
    text-transform uppercase
    font-size 24px
    size(auto,40)
    line-height 40px
    //border 1px solid offerWhite()
    text-align center
    //border-bottom 1px solid midnight()
    color midnight()
  .columnGross
    text-align center
    font-size 18px
  .columnFee
    text-align center
    font-size 18px
    padding 0 0 5px 0
    margin 0 0 5px 0
    border-bottom 1px solid gray()
    color red()
  .columnNet
    text-align center
    font-size 18px
    color green()
    margin 0 0 10px 0
  .columnHistory
    text-align center
    color offerGray()
    font-size 14px
  .columnFollowers
    text-align center
    color offerGray()
    font-size 14px
  .columnContent
    margin 10px 10px 10px 10px
  .columnList
    .columnListItem
      padding 10px 10px 10px 10px
      .columnListIcon
        size(40,40)
        background midnight()
        border-radius 40px
        display inline-block
        float left
      .columnListTitle
        height 40px
        line-height 40px
        font-size 20px
        float left
        padding 0 10px 0 10px
      .columnListText
        clear both
        padding 10px 0 10px 0
        line-height 1.5
.masthead
  margin 0 auto 40px auto
  futura(72,white())
  max-width 960px
  position(relative)
  z-index 1
.mastheadInfo
  //font-family "HelveticaNeue-Light"
  font-size 22px
  line-height 1.4
  color white()
  margin 0 auto
  min-width 320px
  max-width 600px
  position(relative)
  z-index 1
.buttonsWrapper
  margin 40px auto 0 auto
  //min-width 320px
  max-width 620px
  //min-height 60px
  position(relative)
  z-index 1
  .button
    float left
    clear none
    margin 0 5px 0 5px
.button
  size(300,60)
  background midnight()
  border 2px solid midnight()
  border-radius borderRadius
  futura(20,white())
  line-height 60px
  cursor pointer
  transition all 0.25s ease-in-out
  clear left
  margin 0 auto 10px auto
  padding 0
  display block
  &:hover
    background transparent
    color midnight()
.tile
  size(300,330)
  margin 0 10px 30px 10px
  background white()
  border-radius borderRadius
  float left
  position(relative)
  cursor pointer
  transition all .25s ease-in-out
  overflow(hidden)
  &:hover
    transform scale3d(1.1,1.1,1.1)
    .tileInfo
      transform translate3d(0,0,0)
      border-radius borderRadius
      .tileContent
        opacity 1
  .tileImage
    position(absolute,0,0,0,0)
    background midnight()
    border-radius borderRadius
    background-size cover
    background-position 50% 100%
    background-repeat no-repeat
  .tileInfo
    background white()
    position(absolute,auto,0,0,0)
    size(300,330)
    transition all 0.25s ease-in-out
    transform translate3d(0,265px,0)
    .tileTitle
      position(absolute,0,0,0,0)
      height 40px
      line-height 30px
      futura(18,midnight())
      padding 10px 20px 0 20px
      text-align left
      white-space nowrap
      text-overflow ellipsis
      overflow(hidden)
    .tileSubtitle
      position(absolute,30,0,auto,0)
      height 30px
      line-height 30px
      padding 0 20px 0 20px
      text-align left
      color offerGray()
      overflow(hidden)
    .tileContent
      position(absolute,50,0,auto,0)
      padding 10px 20px 0 20px
      color midnight()
      overflow(hidden)
      text-overflow ellipsis
      transition all 0.25s ease-in-out
      opacity 0

.contentHeader
  position(relative)
  display table
  margin 0 auto 0 auto
  padding 10px 0 10px 50px
  height 40px
  line-height 40px
  .contentHeaderIcon
    size(40,40)
    border-radius 40px
    background midnight()
    position(absolute,10,auto,auto,0)
  .contentHeaderText
    futura(36,midnight())

.contentMasthead
  //background midnight()
  padding 20px
  margin 0 20px 20px 20px
  height 370px
  position(relative)
  border-radius 0 0 borderRadius borderRadius
  .contentMastheadCover
    position(absolute,0,0,0,0)
    border-radius 0 0 borderRadius borderRadius
  .contentMastheadImage
    size(300,330)
    border-radius borderRadius
    background white()
    position(absolute,20,auto,auto,20)
    transition all 0.25s ease-in-out
    overflow(hidden)
    &:hover
      .contentMastheadUploadImage
        transform translate3d(0,0,0)
        opacity 1
    .contentMastheadSavedImage
      size(300,330)
      border-radius borderRadius
      background-size cover
      background-position 50% 50%
      background-repeat no-repeat
      pointer-events none
      position(relative)
      &[data-editable="true"]
        cursor pointer
      &:before
        content ""
        position(absolute,0,0,0,0)
        border 1px solid white(0.3)
        pointer-events none
        border-radius borderRadius
        box-shadow 0 0 2px midnight(0.8)
    .contentMastheadUploadImage
      size(300,330)
      border-radius borderRadius
      pointer-events none
      position(absolute,0,0,0,0)
      background white(0.7)
      transition all 0.25s ease-in-out
      text-align center
      transform translate3d(0,330px,0)
      opacity 0
      &:before
        content ""
        height 100%
        display inline-block
        vertical-align middle
      .contentMastheadUploadImageInfo
        display inline-block
        vertical-align middle
        .contentMastheadUploadImageIcon
          size(80,80)
          border-radius 80px
          background midnight(0.9)
          margin 0 auto 20px auto
        .contentMastheadUploadImageTitle
          futura(20,midnight(0.9))
    .preview
      size(300,330)
      position(absolute,0,0,0,0)
      pointer-events none
      .details
        .filename
        .size
          display none
        .image
          border-radius borderRadius
      .progress
      .success-mark
      .error-mark
      .error-message
        display none
  .contentHeader
    margin 0
    padding 0
    margin 0 0 20px 320px
    display block
    max-height 80px
    height auto
    overflow hidden
    .contentHeaderText
      text-align left
      color white()
  .contentHeaderContent
    color white()
    margin 0 0 0 320px
    overflow(hidden)
    font-size 16px
    position(relative)
    .topicEntry
      border none
      border-radius 0
      .topicForm
        border none
        .formInput
          background transparent
          border none
          color white()
          padding 0
          border 1px dashed transparent
          border-radius borderRadius
          transition all 0.25s ease-in-out
          height 140px
          &::-webkit-input-placeholder
            color white()
          &::-moz-placeholder
            color white()
          &:-ms-input-placeholder
            color white()
          &:focus
          &:hover
            border 1px dashed white()
            padding 10px
            height 145px
            max-height 145px
      .formSubmit
        display none
  .buttonsWrapper
    size(210,40)
    position(absolute,auto,20,20,auto)
    margin 0
    .toggle
    .contentHeaderButton
      position(static)
      float left
    .toggle
      margin 0 0 0 10px
  .contentHeaderButton
    size(100,40)
    line-height 40px
    font-size 11px
    position(absolute,auto,20,20,auto)
    background white()
    border 2px solid white()
    color midnight()
    margin 0
    &:hover
      background transparent
      color white()
  .toggle
    size(100,40)
    position(absolute,auto,20,20,auto)
    &[data-on="false"]
      .toggleOptions
        .toggleOptionsTrack
          transform translate3d(-100px,0,0)
    &[data-on="true"]
      .toggleOptions
        .toggleOptionsTrack
          transform translate3d(0,0,0)
    .toggleOptions
      size(100,40)
      .toggleOptionsTrack
        size(200,40)
        .toggleOption
          size(100,40)
          &:last-of-type
            left 100px

.topicEntry
  maxSize(940,auto)
  margin 0 20px 20px 20px
  padding 0 0 20px 0
  position(relative)
  border-bottom 1px solid black(0.1)
  .topicEntrySidebar
    position(absolute,0,auto,0,0)
    size(80,auto)
    border-right 1px solid black(0.1)
    z-index 1
    border-radius borderRadius 0 0 borderRadius
    background white()
    .topicEntrySidebarInfo
      position(absolute,15,auto,auto,15)
      width 50px
      height 80px
      cursor pointer
      &:hover
        .topicEntrySidebarIcon
          transform scale3d(1.2,1.2,1.2)
        .topicEntrySidebarTitle
          color highlight()
      .topicEntrySidebarIcon
        size(50,50)
        position(absolute,0,auto,auto,0)
        border-radius 50px
        background midnight()
        //float left
        //margin 8px 20px 0 0
        background-size cover
        background-repeat no-repeat
        background-position 50% 50%
        transition all 0.25s ease-in-out
      .topicEntrySidebarTitle
        position(absolute,auto,0,0,0)
        text-align center
        padding 0 10px 0 10px
        color offerGray()
        transition all 0.25s ease-in-out
        white-space nowrap
        overflow(hidden)
        text-overflow ellipsis
        height 20px
  .topicForm
    .topicFormInfo
      background white()
      border-radius borderRadius
      border 1px solid black(0.1)
      position(relative)
      margin 0 0 10px 0
    .expandingText
      min-height 40px
    .formSubmitBar
      background offerWhite()
      background transparent
      //width 100%
      height 40px
      border-radius 0 0 borderRadius borderRadius
      position(relative)
      .toolbarList
        position(absolute,0,auto,auto,0)
        size(auto,40)
        padding 10px
        display none
        .toolbarListItem
          float left
          size(auto,20)
          margin 0 10px 0 0
          .toolbarListItemLink
            display inline-block
            position(relative)
            padding 0 0 0 18px
            cursor pointer
            height inherit
            &:hover
              .toolbarListItemIcon
                background highlight()
              .toolbarListItemText
                color highlight()
            .toolbarListItemIcon
              size(14,14)
              border-radius 14px
              background midnight()
              position(absolute,2,auto,auto,0)
              transition all 0.25s ease-in-out
            .toolbarListItemText
              color midnight()
              font-size 14px
              height 20px
              line-height 20px
              transition all 0.25s ease-in-out
      .formSubmit
        size(140,40)
        line-height 40px
        position(absolute,0,0,auto,auto)
        font-size 12px
        border-radius borderRadius
    .formInput
    .formTextarea
      border-radius borderRadius borderRadius 0 0
      width 100%
      padding 10px
      color offerGray()
      font-size 16px
      &.title
        futura(20,midnight())
        text-align left
    .formInput
      border-bottom 1px solid gray()
      border-radius borderRadius borderRadius 0 0
      padding 10px 10px 10px 90px
      background transparent
      &+.expandingText
        .formInput
          border-bottom none
          border-radius 0

.topic
  maxSize(940,auto)
  font-size 16px
  line-height 1.5
  margin 20px 20px 0 20px
  color midnight()
  position(relative)
  overflow(hidden)
  .topicSidebar
    border-radius borderRadius 0 0 borderRadius
    background gray()
    width 160px
    padding 10px
    position(absolute,0,auto,0,0)
    .topicSidebarInfo
      border-radius borderRadius
      background white()
      padding 10px
      min-width 140px
      //height 225px
      position(relative)
      overflow(hidden)
      .topicSideFormTitle
        height 20px
        text-align center
      .topicSideFormSubtitle
        height 18px
        font-size 12px
        color offerGray()
        text-align center
      .topicSideForm
        border-radius borderRadius
        background white()
        width 100%
        .topicSideFormIcon
          size(120,120)
          border-radius 120px
          margin 10px 0 10px 0
          background midnight()
          position(relative)
          &:after
            content ""
            position(absolute,0,0,0,0)
            border-radius 120px
            border 1px solid black(0.1)
            pointer-events none
          &:hover
            .formInput
              transform scale3d(1.4,1.4,1.4)
              color highlight()
              &::-webkit-input-placeholder
                color highlight()
              &::-moz-placeholder
                color highlight()
              &:-ms-input-placeholder
                color highlight()
          .formInput
            futura(14,white())
            width inherit
            height inherit
            background transparent
            transition all 0.25s ease-in-out
            &:focus
              transform scale3d(1.4,1.4,1.4)
              color highlight()
            &::-webkit-input-placeholder
              color gray()
              text-align center
              transition all 0.25s ease-in-out
            &::-moz-placeholder
              color gray()
              text-align center
              transition all 0.25s ease-in-out
            &:-ms-input-placeholder
              color gray()
              text-align center
              transition all 0.25s ease-in-out
        .formSubmit
          width 100%
          height 30px
          line-height 30px
          font-size 12px
          margin 0
      .topicSideFormMask
        //position(absolute,0,0,0,0)
        position(absolute,0,0,auto,0)
        background midnight()
        min-width 140px
        height 225px
        display table
        opacity 1
        transition all 0.25s ease-in-out
        &[data-hidden="true"]
          transform translate3d(0,225px,0)
          opacity 0
        .topicSideFormMaskInfo
          display table-cell
          vertical-align middle
          .topicSideFormMaskIcon
            size(60,60)
            border-radius 60px
            background white()
            margin 0 auto 10px auto
          .topicSideFormMaskTitle
            futura(16,white())
  .topicMedia
    background midnight()
    height 400px
    margin 20px 0 20px 0
  .topicTray
    width 340px
    position(absolute,0,auto,0,160)
    background offerGray()
    padding 10px
    .closeTopicTray
      size(20,20)
      border-radius 20px
      background midnight()
      cursor pointer
      position(absolute,10,10,auto,auto)
      transition all 0.25s ease-in-out
      &:hover
        transform scale3d(1.2,1.2,1.2)
    .topicTrayForm
      min-width 320px
      background white()
      border-radius borderRadius
      padding 10px
      position(relative)
      .topicTrayFormIcon
        size(100,100)
        border-radius 100px
        background midnight()
        margin 10px auto 10px auto
        position(relative)
        &:hover
          .formInput
            transform scale3d(1.4,1.4,1.4)
            color highlight()
            &::-webkit-input-placeholder
              color highlight()
            &::-moz-placeholder
              color highlight()
            &:-ms-input-placeholder
              color highlight()
        .formInput
          futura(14,white())
          width inherit
          height inherit
          background transparent
          transition all 0.25s ease-in-out
          color gray()
          &:focus
            transform scale3d(1.4,1.4,1.4)
            color highlight()
          &::-webkit-input-placeholder
            color gray()
            text-align center
            transition all 0.25s ease-in-out
          &::-moz-placeholder
            color gray()
            text-align center
            transition all 0.25s ease-in-out
          &:-ms-input-placeholder
            color gray()
            text-align center
            transition all 0.25s ease-in-out
      .topicTrayFormTitle
        futura(16,midnight())
        margin 0 0 10px 0
      .topicTrayFormSubtitle
        height 14px
        line-height 14px
        text-align center
        color offerGray()
        font-size 12px
        margin 10px 0 0 0
      .toggle
        margin 0 0 10px 0
      .formInput
        background gray()
        width 100%
        height 30px
        margin 0 0 1px 0
        padding 10px
        &:first-of-type
          &:last-of-type
            border-radius borderRadius
            margin 0
        &:first-of-type
          border-radius borderRadius borderRadius 0 0
        &:last-of-type
          border-radius 0 0 borderRadius borderRadius
          margin 0 0 10px 0
      .formSubmit
        margin 0
        height 40px
        line-height 40px
        font-size 14px
  .topics
    display none
    &[data-open="true"]
      display block
  .topicWrapper
    margin 0 0 0 160px
    //XXX: Remove after launch party
    margin 0
    position(relative)
    transition all 0.25s ease-in-out
    overflow(hidden)
    //min-height 250px
    .topicContentInfo
      //display table
      font-size 20px
      margin 0 0 0 80px
      //padding 20px 20px 0 20px
      .topicContentTitle
        //display table-cell
        //vertical-align middle
        min-height 40px
        padding 10px
        border-bottom 1px solid black(0.1)
        futura(20,midnight())
        text-align left
    .topicContentSidebar
      position(absolute,0,auto,0,0)
      size(80,auto)
      border-right 1px solid black(0.1)
      .topicContentSidebarInfo
        position(absolute,15,auto,auto,15)
        width 50px
        height 80px
        &:hover
          .topicContentSidebarIcon
            transform scale3d(1.2,1.2,1.2)
          .topicContentSidebarTitle
            color highlight()
        .topicContentSidebarIcon
          size(50,50)
          position(absolute,0,auto,auto,0)
          border-radius 50px
          background midnight()
          background-size cover
          background-repeat no-repeat
          background-position 50% 50%
          transition all 0.25s ease-in-out
        .topicContentSidebarTitle
          position(absolute,auto,0,0,0)
          text-align center
          padding 0 10px 0 10px
          color offerGray()
          transition all 0.25s ease-in-out
          white-space nowrap
          text-overflow ellipsis
          overflow(hidden)
          font-size 14px
    .topicContent
      //padding 10px 20px 10px 0
      //margin 0 0 0 100px
      //display table-cell
      //width 960px
      //min-height 158px
      min-height 65px
      padding 10px 15px 10px 10px
      color offerGray()
      font-size 18px
      overflow(hidden)
      //height 80px
      //vertical-align middle
      .topicContentMedia
        background midnight()
        height 400px
        margin 20px -20px 20px 0
    .topicIcon
      size(60,60)
      border-radius 60px
      background midnight()
      margin 10px 10px 0 20px
      float left
      background-size cover
      background-repeat no-repeat
      background-position 50% 50%
      transition all 0.25s ease-in-out
      cursor pointer
      &:hover
        transform scale3d(1.2,1.2,1.2)
      //position(absolute,10,auto,auto,25)
    .topicWrapper
      //border-left 10px solid gray()
      //border none
      //border-top 1px solid gray()
      //padding 10px 0 10px 0
      minSize(auto,80)
      margin 0
      transform translate3d(0,0,0)
      border-radius 0 0 4px 0
      .topicEntry
        margin 0
        padding 0
      .topicContent
        //width 900px
        margin 0 0 0 80px
        min-height 0
        .topicContentMedia
          margin 20px -20px 20px 0
    .topicToolbar
      display block
      height 40px
      line-height 40px
      .topicToolbarButton
        background midnight()
        futura(12,white())
        border-radius 0 0 borderRadius 0
        width 100%
        display inline-block
        transition all 0.25s ease-in-out
        cursor pointer
        &:hover
          color highlight()

.content[data-context="community"]
  .topic
    //min-height 250px
    //background midnight()
    &[data-trayOpen="true"]
      min-height 410px
      .topicWrapper
        transform translate3d(340px,0,0)
        .topicWrapper
          transform translate3d(0,0,0)
    .topicWrapper
      background white()
      border-radius borderRadius
      border 1px solid black(0.1)
      .topicWrapper
        border none
        border-top 1px solid gray()
        border-radius 0
        &:last-of-type
          background gray(0.6)
          .topicContent
            padding 0
            .topicEntry
              border none
              .formSubmitBar
                position(absolute,auto,10,10,auto)
              .formInput
                min-height 80px
                padding 15px 15px 60px 15px
                border none

.content[data-context="profile"]
  .section
    padding 0

.content[data-context="dashboard"]
  .column
    text-align center

.cover
  position(fixed,0,0,0,0)
  z-index 999
  font-size 16px
  line-height 1.5
  background offWhite()
  transition all 0.25s ease-in-out
  transform scale3d(1,1,1)
  opacity 1
  &[data-hidden="true"]
    transform scale3d(0,0,0)
    opacity 0
  .button
    margin 20px 0 0 0
    width 100%
  .closeCover
    background midnight()
    size(40,40)
    border-radius 40px
    position(absolute,20,20,auto,auto)
    cursor pointer
    transition all 0.25s ease-in-out
    &:hover
      transform scale3d(1.2,1.2,1.2)
  .coverContentWrapper
    width 100%
    height 100%
    overflow(hidden,auto)
    text-align center
    display table
    .centeredCoverContent
      display table-cell
      vertical-align middle
      padding 20px 0 20px 0
      .coverContent
        min-width 320px
        max-width 960px
        margin 0 auto
      .coverIcon
        background midnight()
        size(80,80)
        line-height 80px
        border-radius 80px
        margin 0 auto 10px auto
        transition all 0.25s ease-in-out
        .coverInput
          futura(16,white())
          width inherit
          height inherit
          background transparent
          padding 20px
          overflow(hidden)
          text-overflow ellipsis
          white-space nowrap
          &::-webkit-input-placeholder
            color gray()
            text-align center
            transition all 0.25s ease-in-out
          &::-moz-placeholder
            color gray()
            text-align center
            transition all 0.25s ease-in-out
          &:-ms-input-placeholder
            color gray()
            text-align center
            transition all 0.25s ease-in-out
      .coverTitle
        futura(20,midnight())
        margin 0 0 0 0
      .coverSubtitle
        text-align center
        color offerGray()
        font-size 16px
        height 20px
        margin 0 0 0 0
      .coverMasthead
        margin 20px 10px 20px 10px
        height 400px
        background gray()
        position(relative)
        .coverMastheadSubtitle
          text-align center
          height 20px
          font-size 14px
          color offerGray()
          margin 0 0 5px 0
        .buttonsWrapper
          position(absolute,auto,0,40,0)
          width 410px
          .button
            width 200px
            margin 0 10px 0 0
            &:last-of-type
              margin 0
      .coverContent
        text-align left
      .coverList
        margin 20px auto 0 auto
        .coverListItem
          size(auto,30)
          line-height 30px
          margin 0 0 10px 0
          padding 0 0 0 40px
          position(relative)
          .coverListItemIcon
            size(30,30)
            border-radius 30px
            background midnight()
            position(absolute,0,auto,auto,0)
      .coverFormInfo
        max-width 320px
        margin 0 auto
      .coverForm
        max-width 320px
        margin 20px 0 0 0
        .formInput
          height 60px
          width 100%
          margin 0 0 1px 0
          padding 20px
          font-size 14px
          color offerGray()
          &:first-of-type
            &:last-of-type
              border-radius borderRadius
              margin 0
          &:first-of-type
            border-radius borderRadius borderRadius 0 0
          &:last-of-type
            border-radius 0 0 borderRadius borderRadius
        .formSubmit
          height 60px
          padding 0
      .coverFooter
        display inline-block
        text-align center
        margin 10px 0 0 0
        width 100%
        .coverLink
          font-size 14px
          color offerGray()
          cursor pointer
          transition all 0.25s ease-in-out
          &:hover
            color highlight()

.cover[data-context="pay"]
  .coverContentWrapper
    .centeredCoverContent
      .coverIconsWrapper
        display inline-block
        width 100%
        position(relative)
        .coverIcon
          size(120,120)
          display inline-block
          vertical-align middle
          margin 0 5px 10px 5px
          cursor pointer
          &:hover
            transform scale3d(1.2,1.2,1.2)
            .coverInput
              &::-webkit-input-placeholder
                color white()
              &::-moz-placeholder
                color white()
              &:-ms-input-placeholder
                color white()
          &.mini
            size(40,40)

.cover[data-context="create"]
  .coverContentWrapper
    .centeredCoverContent
      width 100%

.cover[data-context="monetize"]
  .coverContentWrapper
    .centeredCoverContent
      max-width 320px

.columnForm
  width 100%
  .formInput
    width 100%
    height 40px
    padding 10px
    margin 0 0 1px 0
    background offWhite()
    &::-webkit-input-placeholder
      font-size 12px
    &::-moz-placeholder
      font-size 12px
    &:-ms-input-placeholder
      font-size 12px
    &:first-of-type
      border-radius borderRadius borderRadius 0 0
    &:last-of-type
      border-radius 0 0 borderRadius borderRadius
      margin 0 0 20px 0
  .toggle
    margin 20px 0 20px 0
  .button
    width 100%
    height 40px
    line-height 40px
    font-size 14px
    margin 10px 0 0 0
    &:first-of-type
      margin 20px 0 0 0

.toggle
  margin 20px 0 0 0
  size(auto,40)
  futura(11,white())
  &.black
    &[data-on="false"]
      .toggleOptions
        background midnight()
        border 2px solid midnight()
        .toggleOptionsTrack
          .toggleOption
            color white()
    &[data-on="true"]
      .toggleOptions
        background transparent
        border 2px solid midnight()
        .toggleOptionsTrack
          .toggleOption
            color midnight()
    .toggleLabel
      color midnight()
  &.white
    &[data-on="false"]
      .toggleOptions
        background white()
        border 2px solid white()
        .toggleOptionsTrack
          .toggleOption
            color midnight()
    &[data-on="true"]
      .toggleOptions
        background transparent
        border 2px solid white()
        .toggleOptionsTrack
          .toggleOption
            color white()
        .toggleOptionsTrack
          .toggleOption
            color white()
    .toggleLabel
      color white()
  &[data-on="false"]
    .toggleOptions
      .toggleOptionsTrack
        transform translate3d(-60px,0,0)
  &[data-on="true"]
    .toggleOptions
      .toggleOptionsTrack
        transform translate3d(0,0,0)
  .checkbox
    display none
  .toggleOptions
    size(60,40)
    border-radius borderRadius
    float left
    margin 0 10px 0 0
    overflow(hidden)
    position(relative)
    transition all 0.25s ease-in-out
    cursor pointer
    .toggleOptionsTrack
      position(absolute,auto,auto,auto,-2px)
      size(120,40)
      transition all 0.25s ease-in-out
      &:hover
        .toggleOption
          transform scale3d(1.1,1.1,1.1)
      .toggleOption
        size(60,40)
        line-height 40px
        position(absolute,0,auto,auto,auto)
        text-align center
        transition all 0.25s ease-in-out
        &:first-of-type
          left 0
        &:last-of-type
          left 60px
  .toggleLabel
    float left
    size(auto,40)
    line-height 40px

.notification
  max-width 480px
  min-height 40px
  background white()
  border-radius borderRadius
  margin 20px auto 0 auto
  padding 20px
  position(relative)
  .notificationText
    margin 0 100px 0 0
  .notificationOptions
    position(absolute,0,0,0,auto)
    width 130px
    height 100%
    padding 20px
    .notificationIconsWrapper
      position(absolute)
      top 50%
      size(90,40)
      margin -20px 0 0 0
      .notificationIcon
        size(40,40)
        border-radius 40px
        background midnight()
        float left
        margin 0 10px 0 0
        cursor pointer
        transition all 0.25s ease-in-out
        &:hover
          transform scale3d(1.1,1.1,1.1)
        &:last-of-type
          margin 0