@import 'nib'
@import 'variables'

.tile
  margin 20px 10px 0 10px
  cursor pointer
  float left
  position relative
  size(300,330)
  &:hover
    .tileTitle
      color radiantBlue(0.9)
  .tileTitle
    position(absolute,auto,0,0,0)
    font-size 18px
    text-transform uppercase
    height 30px
    line-height 30px
  .tilePreview
    size(300,300)
    position(relative)
    //box-shadow 0 0 2px midnight(0.8)
    background-size cover
    background-position 50% 50%
    background-repeat no-repeat
    border 1px solid rgba(0, 0, 0, 0.1)