@import 'nib'

borderRadius = 2px

//Colors
white(opacity=1)
  rgba(245,245,245,opacity)

midnight(opacity=1)
  rgba(45,45,45,opacity)

radiantBlue(opacity=1)
  rgba(82,196,252,opacity)

errorRed(opacity=1)
  rgba(192,57,43,opacity)

//Themes
whiteTheme(opacity=1,radius=borderRadius)
  box-shadow inset 0 0 0 1px white(opacity)
  color white(opacity)
  border-radius radius

midnightTheme(opacity=1,radius=borderRadius)
 background midnight(opacity)
 color white(opacity)
 border-radius radius

//Sizings
minSize(min-width=initial,min-height=initial)
  if min-width is a 'unit'
    min-width min-width px
  else
    min-width min-width

  if min-height is a 'unit'
    min-height min-height px
  else
    min-height min-height

size(width=auto,height=auto)
  if width is a 'unit'
    width width px
  else
    width width

  if height is a 'unit'
    height height px
  else
    height height

maxSize(max-width=initial,max-height=initial)
  if max-width is a 'unit'
    max-width max-width px
  else
    max-width max-width

  if max-height is a 'unit'
    max-height max-height px
  else
    max-height max-height

//Text
centerText(vertical=initial,horizontal=vertical)
  if vertical
    line-height vertical px

  if horizontal
    text-align center

//Position
position(position=static,top=auto,right=auto,bottom=auto,left=auto)
  position position

  if top is auto
    top auto
  else
    top top px

  if right is auto
    right auto
  else
    right right px

  if bottom is auto
    bottom auto
  else
    bottom bottom px

  if left is auto
    left auto
  else
    left left px

//Center Element
center(top=0,bottom=0)
  margin-top top px
  margin-right auto
  margin-bottom bottom px
  margin-left auto

//Overflow
overflow(x=false,y=x)
  if x
    overflow-x x
  if y
    overflow-y y
  -webkit-overflow-scrolling touch