<template name="contentViewer">
	{{#with currentGame}}
	<div class="contentViewer">
		<div class="fullscreen">f</div>
		<div class="contentViewerSlider" data-activeContentPane="{{state}}">
			<div class="contentPane preview">
				<div class="gameHeader">{{name}} by {{gameBy}}</div>
				{{>button view}}
			</div>
			<div class="contentPane play">
				{{#if src}}
			    	<iframe class="gamePlayer" src="{{src}}"></iframe>
			    {{else}}
			    	<div class="noGameNotice">No Game Uploaded Yet!</div>
			    {{/if}}
			    {{#if isOwner gameBy}}
			    	<div class="uploadGameWrapper">
				    	<div class="uploadGameNotice">Upload Game</div>
				    	<input class="uploadGame" type="file" />
				    </div>
			    {{/if}}
			</div>
		</div>
		<div class="contentViewerToolbar">
			{{>button preview}}
			{{>button play}}
		</div>
	</div>
	{{/with}}
</template>