<template name="dualButton">
{{#isolate}}
	<div class="dualButton" data-state="{{#if sessionEquals 'appState' 'browse'}}active{{/if}}">
		<div class="innerDualButton left">
			<div id="leftInnerDualButtonText1" class="innerDualButtonText" data-state="{{#if not currentUser}}active{{/if}}" data-href="login">
				Login
			</div>
			<div id="leftInnerDualButtonText2" class="innerDualButtonText" data-state="{{#if currentUser}}active{{/if}}" data-href="{{currentUser._id}}/profile">
				Profile
			</div>
		</div>

		<div class="middleButton">
			<div id="avatar1" class="avatar cinder" data-state="{{#if not currentUser}}active{{/if}}">
				{{>cinderIcon}}
			</div>
			<div id="avatar2" class="avatar default" data-state="{{#if currentUser}}active{{/if}}">
				{{>profileIcon}}
			</div>
			<div id="avatar3" class="avatar profile" data-state="{{#if profile.avatar}}active{{/if}}">
				<div class="avatarIcon" style="background-image: url({{profile.avatar}});"></div>
			</div>
		</div>
		<div class="innerDualButton right">
			<div id="rightInnerDualButtonText1" class="innerDualButtonText" data-state="{{#if not currentUser}}active{{/if}}" data-href="signup">
				Signup
			</div>
			<div id="rightInnerDualButtonText2" class="innerDualButtonText" data-state="{{#if currentUser}}active{{/if}}" data-href="create">
				Create
			</div>
		</div>
	</div>
{{/isolate}}
</template>