<template name="dualButton">
	{{#isolate}}
	<div class="dualButton">
		{{#if currentUser}}
		{{#with currentUser}}
		<div class="innerDualButton left" data-href="profile">{{username}}</div>
		{{/with}}
		{{else}}
		<div class="innerDualButton left" data-href="login">Login</div>
		{{/if}}
		<div class="middleButton">
			{{#if currentUser}}
			{{#with currentUser}}
				<div class="avatar" style="background-image: url({{avatar}});"></div>
			{{/with}}
			{{else}}
				{{>cinderIcon}}
			{{/if}}
		</div>
		{{#if currentUser}}
		<div class="innerDualButton right" data-href="create">Create</div>
		{{else}}
		<div class="innerDualButton right" data-href="signup">Signup</div>
		{{/if}}
	</div>
	{{/isolate}}
</template>