<template name="explainer">
{{#isolate}}
	<section id="explainer" data-explainerVisible="{{getSession 'explainerVisible'}}" data-cinderFireInstalled="{{profile.cinderFireInstalled}}" data-state="{{getSession 'explainerState'}}">
		<div id="explainerIconsWrapper">
			{{>installFireIcon}}
			{{>waitingIcon}}
			{{>folderIcon}}
			{{>newIcon}}
			{{>deployIcon}}
			{{>ideaIcon}}
		</div>
		<div id="explainerText">
			{{#isolate}}
			<div id="explainerText0" class="explainerTextContent" data-state="{{#if sessionEquals 'explainerState' 0}}active{{/if}}">
				<span class="explainerTextContentText">Whoa there cowboy, not so fast. We're going to need you to download our app first before you can make a game.</span>
			</div>
			<div id="explainerText1" class="explainerTextContent" data-state="{{#if sessionEquals 'explainerState' 1}}active{{/if}}">
				<span class="explainerTextContentText">Wicked. Install and login to the app now, we'll wait.</span>
			</div>
			<div id="explainerText2" class="explainerTextContent" data-state="{{#if sessionEquals 'explainerState' 2}}active{{/if}}">
				<span class="explainerTextContentText">Creating a game in cinder.io is simple. Just make a new folder in the cinder.io folder. Boom. Done.</span>
			</div>
			<div id="explainerText3" class="explainerTextContent" data-state="{{#if sessionEquals 'explainerState' 3}}active{{/if}}">
				<span class="explainerTextContentText">Cool. Now click on the {{>cinderIcon}} icon, click "Deploy", and go grab a coffee. We'll do the rest.</span>
			</div>
			<div id="explainerText4" class="explainerTextContent" data-state="{{#if sessionEquals 'explainerState' 4}}active{{/if}}">
				<span class="explainerTextContentText">We're all done here! Go get started on your next big idea. Make it count!</span>
			</div>
			{{/isolate}}
		</div>
		<div id="explainerButton">
			{{#isolate}}
			<div id="explainerButton0" class="explainerButtonContent" data-state="{{#if sessionEquals 'explainerState' 0}}active{{/if}}" data-href="/downloads/{{getSession 'currentOS'}}/fire.zip">
				<span class="explainerButtonContentText">Download</span>
			</div>
			<div id="explainerButton1" class="explainerButtonContent" data-state="{{#if sessionEquals 'explainerState' 1}}active{{/if}}">
				<span class="explainerButtonContentText">My App is Ready!</span>
			</div>
			<div id="explainerButton2" class="explainerButtonContent" data-state="{{#if sessionEquals 'explainerState' 2}}active{{/if}}">
				<span class="explainerButtonContentText">You Got It!</span>
			</div>
			<div id="explainerButton3" class="explainerButtonContent" data-state="{{#if sessionEquals 'explainerState' 3}}active{{/if}}">
				<span class="explainerButtonContentText">Coffee, Grabbed!</span>
			</div>
			<div id="explainerButton4" class="explainerButtonContent" data-state="{{#if sessionEquals 'explainerState' 4}}active{{/if}}" data-href="/{{getSession 'activeTile'}}/view">
				<span class="explainerButtonContentText">View Your Game!</span>
			</div>
			{{/isolate}}
		</div>
		<div id="explainerProgressWrapper">
			<ul id="explainerProgress">
				{{#isolate}}
				<li id="explainerProgress0" class="explainerProgressDot" data-state="{{#if sessionEquals 'explainerState' 0}}active{{/if}}" data-href="0"></li>
				<li id="explainerProgress1" class="explainerProgressDot" data-state="{{#if sessionEquals 'explainerState' 1}}active{{/if}}" data-href="1"></li>
				<li id="explainerProgress2" class="explainerProgressDot" data-state="{{#if sessionEquals 'explainerState' 2}}active{{/if}}" data-href="2"></li>
				<li id="explainerProgress3" class="explainerProgressDot" data-state="{{#if sessionEquals 'explainerState' 3}}active{{/if}}" data-href="3"></li>
				<li id="explainerProgress4" class="explainerProgressDot" data-state="{{#if sessionEquals 'explainerState' 4}}active{{/if}}" data-href="4"></li>
				{{/isolate}}
			</div>
		</div>
	</section>
{{/isolate}}
</template>