<template name="icon">
	Icon:
	<ul>
		<li>Coming Soon Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Friends Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Close Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Avatar Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Follow Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Unfollow Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Track Topic Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Untrack Topic Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Search Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Cinder Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Confirm Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Cancel Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Add Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Facebook Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Twitter Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Twitch Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Topics Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Fullscreen Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Notifications Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Right Arrow Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Preview Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Image Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Music Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Video Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Code Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Analytics Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Remix Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Game Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Upload Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Flag Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Block Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Unblock Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Unread Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Delete Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Play Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Pause Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Rewind Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Fast Forward Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Volume Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Poll Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Enter Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Filters Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Settings Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Logout Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Username Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Email Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Password Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Credit Card Name Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Credit Card Number Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Credit Card Expiration Date Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Updated Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Game Layer Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Error Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Warning Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Follow Confirmation Notification Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Game Invite Notification Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Friend Messages Notification Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Paid Confirmation Notification Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Added to Project Notification Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Project Join Request Notification Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>New Comment Notification Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>New Topic Request Notification Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>New Collab Chat Message Notification Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Game Updated Notification Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Thanks Message Notification Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Messages Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Movable Content Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Previous Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Next Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Drag and Drop Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Anchor Topic Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Selector Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Currency Sign Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>New File Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>New Folder Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Take Video Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Take Screenshot Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Start Stream Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>3D Print Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Jump to Destination Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Collapse Arrow Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Expand Arrow Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>One Column Layout Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Two Column Layout Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Three Column Layout Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Grid Layout Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Rollback Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Preview Game Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Deploy Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Manage Collaborators Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Folder Arrow Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Validating Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Promote Collaborator Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>Demote Collaborator Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
		<li>File Icon
			<ul>
				<li>Inactive</li>
				<li>Hover</li>
				<li>Active</li>
			</ul>
		</li>
	</ul>
</template>