<template name="modal">
{{#isolate}}
	<section class="modal">
		{{!Begin Login Modal}}
		<div class="modalFormWrapper login" data-state="{{#if sessionEquals 'modalState' 'login'}}active{{/if}}">
			<div class="modalFormHeader">
				<div class="modalFormHeaderIcon">{{>loginIcon}}</div>
				<h2 class="modalFormHeaderTitle">Login</h2>
			</div>
			<form class="modalForm" name="login">
				<div class="modalFormInputWrapper top" data-state="{{getSession 'topModalFormInputWrapperState'}}">
					<input class="modalFormInput" type="text" name="username" placeholder="username" autocomplete="off">
					<div class="modalFormInputIcon">{{>usernameIcon}}</div>
				</div>
				<div class="modalFormInputWrapper bottom" data-state="{{getSession 'bottomModalFormInputWrapperState'}}">
					<input class="modalFormInput" type="password" name="password" placeholder="password" autocomplete="off">
					<div class="modalFormInputIcon">{{>passwordIcon}}</div>
				</div>
				<div class="modalFormButtons">
					<input class="modalFormButton" type="submit" value="{{modalButtonValue}}" />
					<div class="modalFormButtonIcon">
						{{>forwardIcon}}
					</div>
				</div>
			</form>
		</div>
		{{!End Login Modal}}

		{{!Begin Signup Modal}}
		<div class="modalFormWrapper signup" data-state="{{#if sessionEquals 'modalState' 'signup'}}active{{/if}}">
			<div class="modalFormHeader">
				<div class="modalFormHeaderIcon">{{>signupIcon}}</div>
				<h2 class="modalFormHeaderTitle">Signup</h2>
			</div>
			<form class="modalForm" name="signup">
				<div class="modalFormInputWrapper top" data-state="{{getSession 'topModalFormInputWrapperState'}}">
					<input class="modalFormInput" type="text" name="username" placeholder="username" autocomplete="off">
					<div class="modalFormInputIcon">{{>usernameIcon}}</div>
				</div>
				<div class="modalFormInputWrapper middle" data-state="{{getSession 'middleModalFormInputWrapperState'}}">
					<input class="modalFormInput" type="text" name="email" placeholder="email" autocomplete="off">
					<div class="modalFormInputIcon">{{>emailIcon}}</div>
				</div>
				<div class="modalFormInputWrapper bottom" data-state="{{getSession 'bottomModalFormInputWrapperState'}}">
					<input class="modalFormInput" type="password" name="password" placeholder="password" autocomplete="off">
					<div class="modalFormInputIcon">{{>passwordIcon}}</div>
				</div>
				<div class="modalFormButtons">
					<input class="modalFormButton" type="submit" value="{{modalButtonValue}}" />
					<div class="modalFormButtonIcon">
						{{>forwardIcon}}
					</div>
				</div>
			</form>
		</div>
		{{!End Signup Modal}}

		{{!Begin Feedback Modal}}
		<div class="modalFormWrapper feedback" data-state="{{#if sessionEquals 'modalState' 'feedback'}}active{{/if}}">
			<div class="modalFormHeader">
				<div class="modalFormHeaderIcon">{{>feedbackIcon}}</div>
				<h2 class="modalFormHeaderTitle">Feedback</h2>
			</div>
			<form class="modalForm" name="feedback">
				<textarea class="modalFormTextArea" placeholder="Type your beta feedback here! The people at Cinder would love to hear from you!"></textarea>
				<div class="modalFormButtons">
					<input class="modalFormButton" type="submit" value="{{modalButtonValue}}" />
					<div class="modalFormButtonIcon">
						{{>forwardIcon}}
					</div>
				</div>
			</form>
		</div>
		{{!End Feedback Modal}}

	</section>
{{/isolate}}
</template>