<template name="modal">
{{#isolate}}
	<div id="modal" data-state="{{state}}">
		<form class="modalForm">
			<div class="modalFormHeader">
				{{>button logout}}
				<div class="modalFormHeaderTitle">{{state}}</div>
				<div class="modalFormHeaderButton right"></div>
			</div>
			{{#if isFeedback}}
			<textarea class="modalFormTextArea" placeholder="{{textareaPlaceholder}}"></textarea>
			{{else}}
			<div class="modalFormInputWrapper one">
				<div class="modalFormInputIcon"></div>
		    	<input class="modalFormInput" type="{{inputOneType}}" placeholder="{{inputOnePlaceholder}}">
		    </div>
		    <div class="modalFormInputWrapper two">
		    	<div class="modalFormInputIcon"></div>
	    		<input class="modalFormInput" type="{{inputTwoType}}" placeholder="{{inputTwoPlaceholder}}">
	    	</div>
	    	<div class="modalFormInputWrapper three">
		    	<div class="modalFormInputIcon"></div>
	    		<input class="modalFormInput" type="{{inputThreeType}}" placeholder="{{inputThreePlaceholder}}">
	    	</div>
	    	{{/if}}
	    	<div class="modalFormInputButtons">
	    		<input class="modalButton" type="submit" value="{{modalButtonValue}}" />
	    		{{#if sessionEquals 'modalState' 'notify'}}
	    			{{>confirmIcon}}
	    		{{/if}}
	    	</div>
	    </form>
	</div>
{{/isolate}}
</template>