<template name="nav">
{{#isolate}}
	<section id="nav">
		{{>modal}}
		<div id="navWrapper">
			{{#if sessionEquals 'appState' 'browse'}}
				{{>dualButton}}
			{{else}}
				<div class="navButton left" data-href="close">{{>closeIcon}}</div>
				<div id="gameSectionsNav">
					<div id="gameSectionsNavWrapper">
						{{#with viewing}}
						<h3 class="gameSectionNav outerLeft" data-href="fund">Fund</h3>
						<h3 class="gameSectionNav innerLeft" data-href="community">Community</h3>
						<h1 class="gameSectionNav middle" data-href="view">{{name}}</h1>
						<h3 class="gameSectionNav innerRight" data-href="play">Play</h3>
						<h3 class="gameSectionNav outerRight" data-href="remix">Remix</h3>
						<div id="gameSectionsNavSlider"></div>
						{{/with}}
					</div>
				</div>
				<div class="navButton right" data-href="feedback">{{>feedbackIcon}}</div>
			{{/if}}
		</div>
	</section>
{{/isolate}}
</template>