<template name="tile">
{{#isolate}}
	<article class="tile" data-href="view">
		<div class="tileWrapper" style="background-image: url('{{previewSrc}}');">
			<div class="tileInfo">
				<h2 class="tileInfoHeader">{{name}}</h2>
				<div class="tileInfoContent">
					<h3 class="tileInfoSubheader">{{genre}}</h3>
					<div class="tileInfoTextWrapper">
						{{description}}
					</div>
					<div class="tileInfoButtons">
						{{#if sessionEquals 'appState' 'view'}}
						<div class="tileInfoButton left" data-href="community">Community</div>
						{{else}}
						<div class="tileInfoButton left" data-href="view">View</div>
						{{/if}}
						<div class="tileInfoButton right" data-href="play">Play</div>
					</div>
				</div>
			</div>
		</div>
	</article>
{{/isolate}}
</template>