<template name="main">
	<section id="container" data-state="{{state}}" data-modal="{{modalState}}">
		{{>nav}}
		{{#isolate}}
		<div id="tiles">
			<div id="tilesWrapper">
				{{!<button id="prev">Prev</button>
				<button id="next">Next</button>}}
				{{#each scrollableList}}
					{{>tile}}
				{{/each}}
			</div>
		</div>
		{{/isolate}}
		{{#isolate}}
		<div id="tilePage">
			{{#with viewing}}
			<div id="tilePageWrapper" data-genre="{{genre}}" style="background-image: url('{{previewSrc}}');">
				<div id="tilePageName">{{name}}</div>
				<div id="tilePageDescription">{{description}}</div>
			</div>
			<div id="messages">
				MESSAGES
			</div>
			{{/with}}
		</div>
		{{/isolate}}
	</section>
</template>