<template name="main">
	{{>nav}}
	<section id="container">
		<div id="perspectiveWrapper">
			<div id="paneWrapper">
				<div id="gamePlayer">
				{{#isolate}}
				{{#with activeGame}}
					<iframe id="gamePlayerContent" src="{{gameSrc}}"></iframe>
				{{/with}}
				{{/isolate}}
				</div>
				<div class="tilesBackground">
					<div id="tiles" class="tilesContainer">
						{{#each games}}
							{{>tile}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		{{#isolate}}
		{{#with viewing}}
		<div id="messages" data-genre="{{genre}}">
			<div class="messagesContainer">
			{{#isolate}}
			{{#if hasMessages}}
				{{#each messages}}
					{{>message}}
				{{/each}}
			{{else}}
				<div class="noMessagesNotice">NO MESSAGES ADDED</div>
			{{/if}}
			{{/isolate}}
			</div>
			{{>textEntryBox}}
		</div>
		{{/with}}
		{{/isolate}}
	</section>
</template>