<template name="nav">
  {{#isolate}}
  <div class="nav" data-state="{{state}}">
    {{#if viewing}}
      {{>circleButton exit}}
    {{/if}}

    {{#if notification}}
      <div class="notification">
        <div class="notificationText">
          A new version of {{notificationMessage}} is available. Update?
        </div>
        {{>circleButton yes}}
        {{>circleButton no}}
      </div>
    {{/if}}

    {{#if currentUser}}
      {{#with currentUser}}
        {{#if viewing}}
          {{!>circleButton exit}}
        {{else}}
          {{#if playing}}
            {{!>circleButton hidden}}
          {{else}}
            {{!>circleButton logout}}
          {{/if}}
        {{/if}}
        {{#if playing}}
          {{>dualButton exitGame}}
        {{else}}
          {{>dualButton loggedIn}}
        {{/if}}
        {{#if viewing}}
          {{!>circleButton hidden}}
        {{else}}
          {{#if playing}}
            {{!>circleButton hidden}}
          {{else}}
            {{!>circleButton add}}
          {{/if}}
        {{/if}}
      {{/with}}
    {{else}}
      {{#if playing}}
        {{>dualButton exitGame}}
      {{else}}
        {{>dualButton loggedOut}}
      {{/if}}
      {{#if viewing}}
        {{!>circleButton hidden}}
      {{/if}}
    {{/if}}
    {{>modal}}
  </div>
  {{/isolate}}
</template>