<template name="nav">
  <div class="nav" data-state="{{state}}">
    {{#if currentUser}}
      {{#with currentUser}}
        {{#if viewing}}
          {{>circleButton exit}}
        {{else}}
          {{>circleButton logout}}
        {{/if}}
        {{>dualButton loggedIn}}
        {{#if viewing}}
          {{>circleButton hidden}}
        {{else}}
          {{>circleButton add}}
        {{/if}}
      {{/with}}
    {{else}}
      {{#if viewing}}
        {{>circleButton exit}}
      {{/if}}
      {{>dualButton loggedOut}}
      {{#if viewing}}
        {{>circleButton hidden}}
      {{/if}}
    {{/if}}
    {{>modal}}
  </div>
</template> 