@import 'nib'
@import '../variables'

.contentInfo
  position(relative)
  minSize(auto,auto)
  size(auto,auto)
  maxSize(auto,auto)
  &.cell
    margin 10px 0 10px 0
  &[data-editable="true"]:hover
    whiteTheme(0.9)
.removeContentInfo
  minSize(40,40)
  size(40,40)
  maxSize(40,40)
  cursor pointer
  position(absolute,50%,auto,auto,-50px)
  margin 0 0 0 0