<template name="deleteIcon">
	<div class="deleteIconWrapper">
		<svg class="deleteIcon" viewBox="0 0 100 100">
			<circle class="deleteIconBallTop" cx="31.25" cy="6.25" r="6.25"/>
			<circle class="deleteIconBallMidTop" cx="56.25" cy="31.25" r="6.25"/>
			<circle class="deleteIconBallMidBottom" cx="43.75" cy="56.25" r="6.25"/>
			<circle class="deleteIconBallBottom" cx="56.25" cy="68.75" r="6.25"/>
			<polygon class="deleteIconBorder" points="75,25 64.583,87.5 35.417,87.5 25,25 12.5,25 25,100 37.5,100 62.5,100 75,100 87.5,25"/>
		</svg>
	</div>
</template>