@import 'nib'
@import '../variables'

//form
.form
  display none
  position relative
.form[data-active="true"]
  display block
.form-group
  height 40px
  line-height 40px
  margin-right 60px
  border-left 1px solid white(0.9)
  border-bottom 1px solid white(0.9)
  border-radius 0
  position relative
  &:first-of-type
    border-top 1px solid white(0.9)
    border-bottom 1px solid white(0.9)
    border-radius 4px 0 0 0
  &:last-of-type
    border-bottom 1px solid white(0.9)
    border-radius 0 0 0 4px
  &.error
    background errorRed(0.25)
.form-control
  background transparent
  box-shadow none
  font-size 14px
  padding 10px
  color white(0.9)
  minSize(240,inherit)
  size(240,inherit)
  maxSize(240,inherit)
.form-button
  position(absolute,0,0,0,auto)
  minSize(60,auto)
  size(60,auto)
  maxSize(60,auto)
  background white(0.4)
  border 1px solid white(0.9)
  border-radius 0 4px 4px 0
  cursor pointer
  &:hover
    background white(0.7)
.help-block
  color white(0.9)