@import 'nib'
@import '../variables'

.cinderIconWrapper
	transition transform normalSpeed
.cinderIcon
	height inherit
	width inherit
	-webkit-user-select none
.cinderIconInnerRung
	fill midnight(0.9)
.cinderIconOuterRung
	fill midnight(0.9)