@import 'nib'
@import '../variables'

.iconWrapper
  height inherit
  width inherit
  cursor pointer
.icon
  height inherit
  width inherit
  -webkit-user-select none
.icon:hover > *
  fill white(0.9)