@import 'nib'
@import '../variables'

.noPreviewIconWrapper
  height inherit
  width inherit
.noPreviewIcon
  height inherit
  width inherit
  -webkit-user-select none
  &:hover > *
    fill white(0.3)
  .topDot
    fill white(0.3)
  .topRightDot
    fill white(0.3)
  .rightDot
    fill white(0.3)
  .bottomRightDot
    fill white(0.3)
  .bottomDot
    fill white(0.3)
  .bottomLeftDot
    fill white(0.3)
  .leftDot
    fill white(0.3)
  .topLeftDot
    fill white(0.3)