@import 'nib'
@import '../variables'

.reloadIconWrapper
  height inherit
  width inherit
.reloadIcon
  height inherit
  width inherit
  -webkit-user-select none
.reloadIconFill
  fill white(0.4)
.reloadIconBorder
  fill white(0.4)