@import 'nib'
@import '../variables'

.textIconWrapper
	transition transform normalSpeed
.textIcon
	height inherit
	width inherit
	-webkit-user-select none
.textIconTopLine
	fill midnight(0.5)
.textIconMidTopLine
	fill midnight(0.5)
.textIconMiddleLine
	fill midnight(0.5)
.textIconMidBottomLine
	fill midnight(0.5)
.textIconBottomLine
	fill midnight(0.5)
.textIconPeriod
	fill midnight(0.5)