@import 'nib'
@import '../variables'

.gameInfo
  position(relative)
  whiteTheme(0.9)
  minSize(640,400)
  size(640,400)
  maxSize(640,400)
  center(20)
  &.text
    background red
  &.gallery
    background blue
.removeGameInfo
  minSize(40,40)
  size(40,40)
  maxSize(40,40)
  border-radius 40px
  background green
  cursor pointer
  &:hover
    background purple