@import 'nib'
@import '../variables'

.threads
  &:first-child
    margin 0
.thread
  background blue
  margin 20px 0 0 0
.threadTitle
 background green
.threadAuthor
  background purple
.threadContent
  background yellow
.readThread
  background orange