@import 'nib'
@import '../variables'

#viewGameBG
  position(fixed,0,0,0,0)
  background-position 50% 50%
  background-repeat no-repeat
  background-size cover
#viewGame
  position(relative,80)
  z-index 1
.gameMasthead
  whiteTheme(0.9)
  minSize(640,40)
  size(640,40)
  maxSize(640,40)
  center(20)
.publishGameInfo
  position(fixed,20,20,auto,auto)
  whiteTheme(0.9)
  minSize(40,40)
  size(40,40)
  maxSize(40,40)
  border-radius 40px
  cursor pointer
  z-index 2
.addGameInfo
  position(fixed,20,80,auto,auto)
  whiteTheme(0.9)
  minSize(40,40)
  size(40,40)
  maxSize(40,40)
  border-radius 40px
  cursor pointer
  z-index 2

.gameInfoEditor
  position(absolute,0,0,0,0)
  background transparent
  left 50%