@import 'nib'
@import '../palette'

//Badge Styles
.badge
	display inline-block
	padding 5px 10px 5px 10px
	border-radius 3px
	min-height 30px
	height 30px
	max-height 30px
	min-width 30px
	background darkerGrey
	color offWhite
.badge.topics
	background red
.badge.textEntryBox
	background orange
.badge.changed
	background teal
.badge.deployed
	background green
.badge.saved
	background aqua
.badge.dragToMove
	background purple
.badge.muted
	background darkerGrey
	opacity 0.2
.badge.single
	border-radius 100px