@import 'nib'
@import '../variables'

//Button Styles
.button
	display inline-block
	height 30px
	line-height 30px
	width 30px
	text-align center
	background clouds
	color midnightBlue
	border-radius 3px
	cursor pointer
	border none
	margin 0
	position relative
.button:after
	content ''
	background silver
	border-radius 3px
	position absolute
	top 0
	right 0
	bottom -3px
	left 0
	z-index -1
.buttonText
	background clouds
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	border-radius 3px
//Button States
.button.muted
	opacity 0.4
.button.default
	opacity 0.6
.button.hover
	opacity 0.8
.button.active
	opacity 1.0

//Content Viewer Button Styles
.button.contentViewer
	max-width 30px
	border-radius 0
.button.contentViewer.preview
	background purple
.button.contentViewer.image
	background yellow
.button.contentViewer.music
	background orange
.button.contentViewer.video
	background aqua
.button.contentViewer.code
	background teal
.button.contentViewer.analytics
	background lime
.button.contentViewer.remixes
	background blue
.button.contentViewer.play
	background brown

//Select Files Button Styles
.button.selectFiles
	background teal

//Cancel Button Styles
.button.cancel
	background orange

//Confirm Button Styles
.button.confirm
	background aqua

//Expand/Collapse Button
.button.expandCollapse
	background yellow

//Column Layout Button
.button.columnLayout
	background green

//Column Layout Button - One Column Layout Active
.button.columnLayout.one
	background aqua

//Column Layout Button - Two Column Layout Active
.button.columnLayout.two
	background orange

//Column Layout Button - Three Column Layout Active
.button.columnLayout.three
	background purple

//Column Layout Button - Grid Layout Active
.button.columnLayout.grid
	background teal

//Rollback Button
.button.rollback
	background green

//Rollback Button - Transitioning
.button.rollback.transitioning
	background blue

//Preview Button
.button.previewGame
	background lime

//Deploy Button
.button.deploy
	background aqua

//Request to Become a Collaborator Button
.button.requestToBecomeCollaborator
	background purple

//About Username Button
.button.aboutUsername
	background green

//Take Screenshot Button
.button.takeScreenshot
	background purple

//Take Video Button
.button.takeVideo
	background teal

//Not Now Button
.button.notNow
	background lime

//Request Monetization Button
.button.requestMonetization
	background aqua
