@import 'nib'
@import '../palette'

//Circle Button Styles
.circleButton
	display block
	min-width 30px
	width 30px
	max-width 30px
	min-height 30px
	height 30px
	max-height 30px
	border-radius 30px
	background darkGrey
	cursor pointer
	text-align center
	line-height 30px
	color offWhite
	transition transform normalSpeed, opacity normalSpeed
.circleButton[data-state="hidden"]
	opacity 0
	pointer-events none
.circleButton[data-state="exit"]:last-of-type
	opacity 0
//Circle Button States
.circleButton.muted
	opacity 0.4
.circleButton.default
	opacity 0.6
.circleButton.hover
	opacity 0.8
.circleButton.transitioning
	opacity 1.0
.circleButton.active
	opacity 1.0
	color shadow
	transform rotateZ(45deg)

//Close Circle Button Styles
.circleButton.close
	background lime

//Search Circle Button Styles
.circleButton.search
	background blue

//Filters Circle Button Styles
.circleButton.filters
	background green

//Add Circle Button Styles
.circleButton.add
	//background aqua

//Settings Circle Button Styles
.circleButton.settings
	background purple