@import 'nib'
@import '../palette'

//Content Viewer Styles
.contentViewer
	position relative
	height 400px
	border-radius 5px
	overflow hidden
.fullscreen
	position absolute
	top 10px
	right 10px
	width 20px
	height 20px
	border-radius 20px
	background darkGrey
	color offWhite
	z-index 9
	line-height 20px
	text-align center
	cursor pointer
.contentViewerToolbar
	position absolute
	bottom 0
	right 0
	left 0
	border-bottom-left-radius 5px
	border-bottom-right-radius 5px
	background darkerGrey
	height 40px
	
//Content Toolbar Buttons
.contentViewer .button
	position absolute
	min-height 40px
	height 40px
	max-height 40px
	line-height 40px
	background grey
	color offWhite
.contentViewerToolbar .button[data-state="preview"]
	left 0
	min-width 40px
	width 40px
	max-width 40px
	border-top-left-radius 0
	border-top-right-radius 0
	border-bottom-right-radius 0
.contentViewerToolbar .button[data-state="play"]
	right 0
	min-width 100px
	width 100px
	max-width 100px
	border-top-left-radius 0
	border-top-right-radius 0
	border-bottom-left-radius 0
.contentViewerSlider
	position absolute
	top 0
	right 0
	bottom 40px
	left 0
	border-top-left-radius 5px
	border-top-right-radius 5px
	transition transform normalSpeed

//Content Viewer Slider Active Pane States
.contentViewerSlider[data-activeContentPane="preview"]
	transform translateX(0)
.contentViewerSlider[data-activeContentPane="play"]
	transform translateX(-100%)

//Content Viewer Pane Styles
.contentViewer .contentPane
	width 100%
	position absolute
	top 0
	left 0
	bottom 0

//Content Viewer Pane Styles - Preview Pane
.contentViewer .contentPane.preview
	background url('http://placekitten.com/g/2048/1536')
	background-size cover
	background-position 50% 50%
.contentViewerSlider .button[data-state="view"]
	right 20px
	bottom 20px
	padding 0 20px 0 20px
	width 100px
	transition opacity normalSpeed
.gameHeader
	position absolute
	top 20px
	left 20px
	font-size 36px
	text-shadow 0 1px 2px shadow
	color offWhite
.noGameNotice
	font-size 36px
	height 100px
	width 400px
	margin 0 auto
	position relative
	top 165px
.uploadGameWrapper
	height 200px
	width 400px
	margin 0 auto
.uploadGameNotice
	width 300px
	margin 0 auto
	font-size 36px
	text-align center
.uploadGame
	display block
	position relative
	top 100px
	width 160px
	margin 0 auto

//Content Viewer Pane Styles - Play Pane
.contentViewer .contentPane.play
	left 100%
	background lightGrey

//Game Player Styles
.gamePlayer
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	width 100%
	height 100%
	border 0

//Fullscreen Styles
.contentViewerSlider:-webkit-full-screen
	bottom 0