@import 'nib'
@import '../variables'

//Dual Button Styles
.dualButton
	width dualButtonWidth
	height dualButtonHeight
	margin 0 auto
	position relative
.innerDualButton
	width (dualButtonWidth/2)
	height dualButtonHeight
	background midnight90
	position absolute
	line-height dualButtonHeight
	text-align center
	color clouds
	cursor pointer
.no-touch .innerDualButton:hover
	color radiantBlue
.innerDualButton.left
	left 0
	border-radius radius 0 0 radius
.innerDualButton.right
	right 0
	border-radius 0 radius radius 0
.middleButton
	width middleButtonWidth
	height middleButtonHeight
	padding 2px
	background offWhite90
	absolute top 5px left 50%
	z-index 1
	margin 0 0 0 (-(middleButtonWidth/2))
	border-radius middleButtonWidth
	overflow hidden
.middleButton .cinderIcon
	height 26px
	width 20px
	position absolute
	top 1px
	left 5px
.middleButton .avatar
	height middleButtonHeight - 4
	background-size cover
	border-radius middleButtonHeight