@import 'nib'
@import '../palette'

//Dual Button Styles
.dualButtonWrapper
	height 40px
	width 200px
	background alizarin
	border-radius 3px
	color clouds
	text-align center
	line-height 40px
.dualButtonWrapper:after
	content ''
	background pomegranate
	border-radius 3px
	position absolute
	top 0
	right 0
	bottom -3px
	left 0
	z-index -1
.dualButton.left
	position absolute
	top 0
	bottom 0
	left 0
	width 100px
	background alizarin
	//border-right 1px solid pomegranate
	border-top-left-radius 3px
	border-bottom-left-radius 3px
	cursor pointer
	padding 0 5px 0 0
.dualButtonMiddle
	position absolute
	top 5px
	left 50%
	margin-left -15px
	width 30px
	height 30px
	background pomegranate
	border-radius 30px
	z-index 1
	//border 1px solid darkerGrey
	pointer-events none
	line-height 30px
.dualButton.right
	position absolute
	top 0
	right 0
	bottom 0
	width 100px
	background alizarin
	//border-left 1px solid lightGrey
	border-top-right-radius 3px
	border-bottom-right-radius 3px
	cursor pointer
	padding 0 0 0 10px

//Temp styles to be deleted
.dualButtonMiddle,
.dualButton.right
	display none
.dualButtonWrapper
	width 100px
.dualButton.left
	width 100px
	border-right none
	border-radius 3px
.nav .dualButtonWrapper
	margin-left -50px!important