@import 'nib'
@import '../variables'

explainerIconHeight = 380px
explainerGutterHeight = 50px
explainerButtonHeight = 50px

#explainer
	background clouds
	height 100%
	opacity 0
	pointer-events none
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	z-index 1
	overflow hidden
#explainerIconsWrapper
	height explainerIconHeight
	min-width tileWidth - 20
	max-width tileWidth - 20
	position relative
	margin 0 auto explainerGutterHeight auto
#explainer .installFireIcon
	height explainerIconHeight
	min-width tileWidth - 20
	max-width tileWidth - 20
	position absolute
	top 0
	opacity 0
	transition opacity normalSpeed
#explainer .waitingIcon
	display block
	height explainerIconHeight
	min-width tileWidth - 20
	max-width tileWidth - 20
	position absolute
	top 0
	opacity 0
	transition opacity normalSpeed
#explainer .folderIcon
	display block
	height explainerIconHeight
	min-width tileWidth - 20
	max-width tileWidth - 20
	position absolute
	top 0
	opacity 0
	transition opacity normalSpeed
#explainer .newIcon
	display block
	height explainerIconHeight
	min-width tileWidth - 20
	max-width tileWidth - 20
	position absolute
	top 0
	opacity 0
	transition opacity normalSpeed
#explainer .deployIcon
	display block
	height explainerIconHeight
	min-width tileWidth - 20
	max-width tileWidth - 20
	position absolute
	top 0
	opacity 0
	transition opacity normalSpeed
#explainer .ideaIcon
	display block
	height explainerIconHeight
	min-width tileWidth - 20
	max-width tileWidth - 20
	position absolute
	top 0
	opacity 0
	transition opacity normalSpeed
#explainerText
	min-width tileWidth - 20
	max-width tileWidth - 20
	margin 0 auto explainerGutterHeight auto
	font-size 24px
#explainerText .cinderIcon
	height 24px
	width 24px
	display inline
	position relative
	top 3px
	left 1px
#explainerButtonWrapper
	height explainerButtonHeight
	min-width tileWidth - 20
	max-width tileWidth - 20
	margin 0 auto explainerGutterHeight auto
	text-align center
#explainerButton
	height explainerButtonHeight
	max-width tileWidth - 20
	background midnight90
	font-size 20px
	line-height explainerButtonHeight
	text-align center
	display inline-block
	padding 0 20px 0 20px
	color offWhite90
	border-radius radius
	cursor pointer
.no-touch #explainerButton:hover
	color radiantBlue
#explainerProgressWrapper
	height 40px
	width 100%
	overflow hidden
	text-align center
#explainerProgress
	height inherit
	list-style none
	padding 10px 0 10px 0
	margin 0
.explainerProgressDot
	background midnight90
	height 20px
	width 20px
	border-radius 20px
	display inline-block
	margin 0 10px 0 0
	cursor pointer
.explainerProgressDot:hover
	background radiantBlue
.explainerProgressDot:last-child
	margin 0 0 0 0

//Explainer States
#explainer[data-state="0"] .installFireIcon
	opacity 1
#explainer[data-state="1"] .waitingIcon
	opacity 1
#explainer[data-state="2"] .folderIcon,
#ecplainer[data-state="2"] .newIcon
	opacity 1
#explainer[data-state="3"] .folderIcon,
#explainer[data-state="3"] .deployIcon
	opacity 1
#explainer[data-state="4"] .ideaIcon
	opacity 1

//Explainer Progress States
#explainer[data-state="0"] .explainerProgressDot[data-href="0"]
	background radiantBlue
#explainer[data-state="1"] .explainerProgressDot[data-href="1"]
	background radiantBlue
#explainer[data-state="2"] .explainerProgressDot[data-href="2"]
	background radiantBlue
#explainer[data-state="3"] .explainerProgressDot[data-href="3"]
	background radiantBlue
#explainer[data-state="4"] .explainerProgressDot[data-href="4"]
	background radiantBlue
#explainer[data-state="5"] .explainerProgressDot[data-href="5"]
	background radiantBlue