@import 'nib'
@import '../variables'

#explainer
	background clouds
	height 100%
	opacity 0
	pointer-events none
	position relative
	overflow hidden
#explainer .installFireIcon
	height 360px
	width 360px
	absolute top 0 left 50%
	margin-left -180px
#explainer .waitingIcon
	height 360px
	width 360px
	absolute top 0 left 50%
	margin-left -180px
	opacity 0
#explainer .folderIcon
	height 360px
	width 360px
	absolute top 0 left 50%
	margin-left -180px
	opacity 0
#explainer .newIcon
	height 360px
	width 360px
	absolute top 0 left 50%
	margin-left -180px
	opacity 0
#explainer .deployIcon
	height 360px
	width 360px
	absolute top 0 left 50%
	margin-left -180px
	opacity 0
#explainer .ideaIcon
	height 360px
	width 360px
	absolute top 0 left 50%
	margin-left -180px
	opacity 0
#explainerText
	min-width 360px
	margin 0 auto
#explainerButton
	background red
	height 40px
	margin 0 auto
#explainerProgress
	background blue
	height 40px
	margin 0 auto
.explainerProgressDot
	background green
	height 40px
	width 40px
	float left