@import 'nib'
@import '../variables'

//Modal Styles
#modal
	width 380px
	height 200px
	border-radius 5px
	position absolute
	bottom 85px
	left 50%
	margin-left -190px
#modal:after
	content ''
	position absolute
	top 0
	right 0
	bottom -5px
	left 0
	z-index -1
	//background belizeHole
	border-radius 5px
.modalForm
	//transition height normalSpeed, max-height normalSpeed
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	border-radius 5px

//Modal Form Header Styles
.modalFormHeader
	height 50px
	line-height 50px
	//background wetAsphalt
	//background rgba(189,195,199,0.5)
	background rgba(236,240,241,0.4)
	background transparent
	background rgba(52,152,219,0.15)
	background rgba(44,62,80,0.1)
	box-shadow inset 0 0 1px rgba(44,62,80,0.5), 0 0 2px rgba(255,255,255,1)
	color midnightBlue
	border-top-left-radius 5px
	border-top-right-radius 5px
	position relative
.modalFormHeaderTitle
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	padding 0 20px 0 20px
	text-transform capitalize
	//transition left normalSpeed, right normalSpeed

//Modal Form Header Button Styles
.modalFormHeader .button
	position absolute
	top 0
	bottom 0
	width 50px
	min-height 50px
	height 50px
	max-height 50px
	line-height 50px
	//transition transform normalSpeed, opacity normalSpeed
	opacity 0
	text-align center
	//background turquoise
	cursor pointer
.modalFormHeader .button:first-child
	//transform translate3d(-50px,0,0)
	left 0
	border-radius 0
	border-top-left-radius 5px
.modalFormHeader .button:last-child
	//transform translate3d(50px,0,0)
	right 0
	border-radius 0
	border-top-right-radius 5px

//Modal Form Text Area Styles
.modalFormTextArea
	border 0
	width 100%
	height 100px
	padding 20px
	resize none

//Modal Form Input Styles
.modalFormInputWrapper
	position relative
	width 100%
	height 50px
	background rgba(255,255,255,0.1)
	box-shadow inset 0 0 1px rgba(44,62,80,0.5), 0 0 2px rgba(255,255,255,1)
	//background white
	//height 0
	//opacity 0
	//transition height normalSpeed, opacity normalSpeed
	//pointer-events none
	//background offWhite
.modalFormInputIcon
	position absolute
	top 0
	left 0
	width 50px
	height 50px
	//border-bottom 2px solid offWhite
	//border-bottom 1px solid lighterGrey
.modalFormInput
	position absolute
	right 0
	left 50px
	height 50px
	border none
	outline none
	margin 0
	background transparent
	//border-bottom 2px solid offWhite
	//border-left 1px solid lighterGrey
	//border-bottom 1px solid lighterGrey
	padding 0 20px 0 20px
	font-size 14px
.modalFormInput::-webkit-input-placeholder
	color midnightBlue
.modalFormInput::-moz-placeholder
	color midnightBlue
.modalFormInput:-ms-input-placeholder
	color midnightBlue
//Modal Form Input Button Styles
.modalFormInputButtons
	position absolute
	bottom 0
	right 0
	left 0
	min-height 50px
	cursor pointer
.modalFormInputButtons .modalButton
	position absolute
	right 0
	left 0
	border-radius 0
	min-height 100%
	height 100%
	color midnightBlue
	line-height 50px
	text-align center
	box-shadow inset 0 0 1px rgba(44,62,80,0.5), 0 0 2px rgba(255,255,255,1)
	//background peterRiver
	cursor pointer
	font-size 18px
	background transparent
	background rgba(44,62,80,0.1)
	border-bottom-left-radius 5px
	border-bottom-right-radius 5px
.modalFormInputButtons .modalButton[data-state="cancel"]
	right 50%
	left 0
	border-bottom-left-radius 5px
.modalFormInputButtons .modalButton[data-state="confirm"]
	right 0
	left 0
	border-bottom-left-radius 5px
	border-bottom-right-radius 5px

//Profile Modal Styles
#modal[data-state="profile"] .modalFormHeaderTitle
	left 60px
	padding 0 20px 0 0
#modal[data-state="profile"] .button[data-state="logout"]
	opacity 1
	background rgba(44,62,80,0.03)
	box-shadow inset 0 0 1px rgba(44,62,80,0.25), 0 0 2px rgba(255,255,255,1)
	//background midnightBlue
	color midnightBlue
#modal[data-state="profile"] .button[data-state="logout"]:after
	background transparent
#modal[data-state="profile"] .button[data-state="logout"] .buttonText
	//background midnightBlue
	border-radius 0
	border-top-left-radius 5px
	background transparent

.modalFormInputWrapper.three
	display none

//Notify Modal Styles
#modal[data-state="notify"]
	position relative
	bottom 0
	left 0
	margin 0 auto
	height 50px
#modal[data-state="notify"] .modalFormHeader,
#modal[data-state="notify"] .modalFormInputIcon,
#modal[data-state="notify"] .button[data-state="logout"],
#modal[data-state="notify"] .button[data-state="logout"] .buttonText,
#modal[data-state="notify"] .modalFormInputWrapper.two
#modal[data-state="notify"] .modalFormInputWrapper.three
	display none
#modal[data-state="notify"] .modalFormInputWrapper
	z-index 999999
	background rgba(255,255,255,1)
	box-shadow none
	border-radius 5px
#modal[data-state="notify"] .modalFormInput
	right 50px
	left 0
#modal[data-state="notify"] .modalFormInputButtons
	top 0
	right 0
	bottom auto
	left auto
	z-index 999999
	width 50px
#modal[data-state="notify"] .modalButton
	border-radius 0
	border-top-right-radius 5px
	border-bottom-right-radius 5px
	box-shadow none
	background rgba(84,96,110,0.85)
#modal[data-state="notify"] .confirmIcon
	width 24px
	height 24px