@import 'nib'
@import '../variables'

//Modal Styles
.modal
	height 100%
	min-width tileWidth - 20
	max-width tileWidth - 20
	position absolute
	top 0
	right 0
	left 0
	margin 0 auto
	transition transform normalSpeed
.modalFormWrapper
	position absolute
	right 0
	bottom 95px
	left 0
	transition transform normalSpeed, opacity normalSpeed
	transform scale3d(0.9,0.9,0.9)
	opacity 0
	pointer-events none
.modalFormWrapper[data-state="active"]
	transform scale3d(1,1,1)
	opacity 1
	pointer-events auto
.modalForm
	position relative
	overflow hidden
//Modal Form Header Styles
.modalFormHeader
	height 50px
	color midnight
	position relative
.modalFormHeaderIcon
	position: absolute
	top 50%
	left 0
	margin -12px 0 0 0
	height 24px
	width 24px
.modalFormHeaderTitle
	position absolute
	top 0
	right 0
	bottom 0
	left 24px
	padding 0 15px 0 15px
	line-height 50px
	text-transform capitalize

//Modal Form Input Styles
.modalFormInputWrapper
	height 50px
	width 330px
	position relative
	background white
	overflow hidden
.modalFormInputWrapper.top
	border-top-left-radius radius
.modalFormWrapper.middle
	border-radius none
.modalFormInputWrapper.bottom
	border-bottom-left-radius radius
.modalFormInputIcon
	position absolute
	top 50%
	left 15px
	width 24px
	height 24px
	margin-top -12px
	transition opacity normalSpeed
.modalFormInput
	position absolute
	right 0
	left 39px
	height 50px
	border none
	outline none
	margin 0
	padding 0 15px 0 15px
	font-size 14px
.modalFormInputPlaceholder
	height 50px
	line-height 50px
	position absolute
	right 0
	left 39px
	border none
	outline none
	margin 0
	background white
	padding 0 15px 0 15px
	font-size 14px
	opacity 0
	pointer-events none
	transition opacity normalSpeed
.modalFormInputPlaceholderText
	opacity 1
	transition opacity normalSpeed
.modalFormInputMessage
	background steelBlue
	line-height 50px
	color clouds
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	transform translate3d(0,-50px,0)
	opacity 0
	transition transform normalSpeed, opacity normalSpeed
	padding 0 0 0 50px
	pointer-events none

//Modal Form Text Area Styles
.modalFormTextArea
	height 150px
	width 330px
	padding 15px
	font-size 14px
	border-top-left-radius radius
	border-bottom-left-radius radius

//Modal Form Input Wrapper Message Styles
.modalFormInputWrapper.top .modalFormInputMessage
	border-radius radius 0 0 0
.modalFormInputWrapper.middle .modalFormInputMessage
	border-radius 0 0 0 0
.modalFormInputWrapper.bottom .modalFormInputMessage
	border-radius 0 0 0 radius

//Modal Form Input Button Styles
.modalFormButtons
	width 50px
	position absolute
	top 0
	right 0
	bottom 0
.modalFormButton
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	background steelBlue80
	padding 0
	border-top-right-radius radius
	border-bottom-right-radius radius
	cursor pointer
.modalFormButtonIcon
	position absolute
	top 50%
	height 24px
	width 24px
	left 0
	right 0
	margin -12px auto 0 auto

//Forward Icon Fill Styles
.no-touch .modalFormButtonIcon:hover .forwardIconBorder,
.no-touch .modalFormButtonIcon:hover .forwardIconArrow
.modalFormButtonIcon .forwardIconBorder,
.modalFormButtonIcon .forwardIconArrow
	fill clouds

//Modal Form Input Wrapper States
.modalFormInputWrapper[data-state="placeholder"] .modalFormInputPlaceholder
	opacity 1
.modalFormInputWrapper[data-state="error"] .modalFormInputMessage
	transform translate3d(0,0,0)
	opacity 1
.modalFormInputWrapper[data-state="error"] .usernameIcon,
.modalFormInputWrapper[data-state="error"] .emailIcon,
.modalFormInputWrapper[data-state="error"] .passwordIcon
	opacity 1
//Override Default Icon Styles
.modalFormInputWrapper[data-state="error"] .usernameIconHead,
.modalFormInputWrapper[data-state="error"] .usernameIconBody,
.modalFormInputWrapper[data-state="error"] .emailIconFill,
.modalFormInputWrapper[data-state="error"] .passwordIconFill
	fill white

//Modal Form Input Wrapper Hover States
.modalFormInputWrapper:hover .modalFormInputPlaceholderText
	opacity 0.5

//Modal Form Button Hover States
.modalFormButtons:hover .modalFormButton
	background ironBlue
.modalFormButtons:hover .forwardIcon
	opacity 1