@import 'nib'
@import '../palette'

//Modal Styles
#modal
	width 350px
	max-width 350px
	height 200px
	border-radius 5px
	position absolute
	top 80px
	left 50%
	margin-left -175px
#modal:after
	content ''
	position absolute
	top 0
	right 0
	bottom -5px
	left 0
	z-index -1
	background belizeHole
	border-radius 5px
.modalForm
	//transition height normalSpeed, max-height normalSpeed
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	border-radius 5px

//Modal Form Header Styles
.modalFormHeader
	height 50px
	line-height 50px
	background wetAsphalt
	color clouds
	border-top-left-radius 5px
	border-top-right-radius 5px
	position relative
.modalFormHeaderTitle
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	padding 0 20px 0 20px
	text-transform capitalize
	//transition left normalSpeed, right normalSpeed

//Modal Form Header Button Styles
.modalFormHeader .button
	position absolute
	top 0
	bottom 0
	width 50px
	min-height 50px
	height 50px
	max-height 50px
	line-height 50px
	//transition transform normalSpeed, opacity normalSpeed
	opacity 0
	text-align center
	background turquoise
	cursor pointer
.modalFormHeader .button:first-child
	//transform translate3d(-50px,0,0)
	left 0
	border-radius 0
	border-top-left-radius 5px
.modalFormHeader .button:last-child
	//transform translate3d(50px,0,0)
	right 0
	border-radius 0
	border-top-right-radius 5px

//Modal Form Input Styles
.modalFormInputWrapper
	position relative
	width 100%
	height 50px
	background white
	//height 0
	//opacity 0
	//transition height normalSpeed, opacity normalSpeed
	//pointer-events none
	//background offWhite
.modalFormInputIcon
	position absolute
	top 0
	left 0
	width 50px
	height 50px
	border-bottom 2px solid offWhite
	//border-bottom 1px solid lighterGrey
.modalFormInput
	position absolute
	right 0
	left 50px
	height 50px
	border none
	outline none
	margin 0
	border-bottom 2px solid offWhite
	//border-left 1px solid lighterGrey
	//border-bottom 1px solid lighterGrey
	padding 0 20px 0 20px
	font-size 14px
.modalFormInput::-webkit-input-placeholder
	color midnightBlue
.modalFormInput::-moz-placeholder
	color midnightBlue
.modalFormInput:-ms-input-placeholder
	color midnightBlue
//Modal Form Input Button Styles
.modalFormInputButtons
	position absolute
	bottom 0
	right 0
	left 0
	min-height 50px
	cursor pointer
.modalFormInputButtons .modalButton
	position absolute
	right 0
	left 0
	border-radius 0
	min-height 100%
	height 100%
	color clouds
	line-height 50px
	text-align center
	background peterRiver
	cursor pointer
	font-size 18px
.modalFormInputButtons .modalButton[data-state="cancel"]
	right 50%
	left 0
	border-bottom-left-radius 5px
.modalFormInputButtons .modalButton[data-state="confirm"]
	right 0
	left 0
	border-bottom-left-radius 5px
	border-bottom-right-radius 5px

//Profile Modal Styles
#modal[data-state="profile"] .modalFormHeaderTitle
	left 60px
	padding 0 20px 0 0
#modal[data-state="profile"] .button[data-state="logout"]
	opacity 1
	background midnightBlue
	color clouds
#modal[data-state="profile"] .button[data-state="logout"] .buttonText
	background midnightBlue
	border-radius 0
	border-top-left-radius 5px

//Modal Form States - Settings
/*#modal[data-state="settings"]
	height 250px
	max-height 250px
#modal[data-state="settings"] .modalForm
	height 200px
	max-height 200px
#modal[data-state="settings"] .modalFormHeaderTitle
	left 50px
	right 50px
#modal[data-state="settings"] .modalFormHeader .button:first-child
	transform translate3d(0,0,0)
	opacity 1
#modal[data-state="settings"] .modalFormInputWrapper.one,
#modal[data-state="settings"] .modalFormInputWrapper.two,
#modal[data-state="settings"] .modalFormInputWrapper.three
	height 50px
	opacity 1
	pointer-events auto

//Modal Form States - Login
#modal[data-state="login"]
	//background yellow
	height 200px
	max-height 200px
#modal[data-state="login"] .modalForm
	height 150px
	max-height 150px
#modal[data-state="login"] .modalFormInputWrapper.one,
#modal[data-state="login"] .modalFormInputWrapper.two
	height 50px
	opacity 1
	pointer-events auto

//Modal Form States - Signup
#modal[data-state="signup"]
	//background pink
	height 250px
	max-height 250px
#modal[data-state="signup"] .modalForm
	height 200px
	max-height 200px
#modal[data-state="signup"] .modalFormInputWrapper.one,
#modal[data-state="signup"] .modalFormInputWrapper.two,
#modal[data-state="signup"] .modalFormInputWrapper.three
	height 50px
	opacity 1
	pointer-events auto

//Modal Form States - Add
#modal[data-state="add"]
	//background blue
	height 200px
	max-height 200px
#modal[data-state="add"] .modalForm
	height 150px
	max-height 150px
#modal[data-state="add"] .modalFormInputWrapper.one,
#modal[data-state="add"] .modalFormInputWrapper.two
	height 50px
	opacity 1
	pointer-events auto

//Modal Form States - Search
#modal[data-state="search"]
	//background green
	height 200px
	max-height 200px
#modal[data-state="search"] .modalForm
	height 150px
	max-height 150px
#modal[data-state="search"] .modalFormInputWrapper.one,
#modal[data-state="search"] .modalFormInputWrapper.two
	height 50px
	opacity 1
	pointer-events auto*/