@import 'nib'
@import '../variables'

#nav
	height navHeight
	background offWhite90
	position fixed
	top -720px
	right 0
	left 0
	z-index 99
	height 800px
	box-shadow 0 0 1px midnight
	transition transform normalSpeed
#nav .dualButton
	position relative
	top 20px
#navWrapper
	position absolute
	bottom 0
	right 0
	left 0
	height 80px
#gameSectionsNav
	height navHeight
	margin 0 auto
	line-height navHeight
	position relative
#gameSectionsNavWrapper
	width gameSectionsNavWidth
	margin 0 auto
.gameSectionNav
	float left
	font-size 16px
	text-align center
	overflow ellipsis
	width gameSectionNavWidth
	cursor pointer
.gameSectionNav.outerLeft
	opacity 0
.gameSectionNav.innerLeft
	opacity 1
.gameSectionNav.middle
	width gameSectionNavWidth*4
	font-size 36px
.gameSectionNav.innerRight
	opacity 1
.gameSectionNav.outerRight
	opacity 0
#gameSectionsNavSlider
	width gameSectionNavWidth
	height 4px
	background midnight
	position absolute
	bottom 0
	left 10px
	opacity 0
.navButton
	width navButtonWidth
	height navButtonHeight
	position absolute
	top 25px
	z-index 1
	cursor pointer
.navButton.left
	left 20px
.navButton.right
	right 20px

//Nav Hover States
.gameSectionNav:hover
	color steelBlue