@import 'nib'
@import '../variables'

#nav
	height navHeight
	background offWhite90
	position fixed
	top -720px
	right 0
	left 0
	z-index 99
	height 800px
	box-shadow 0 0 1px midnight
	transition transform normalSpeed
#nav .dualButton
	position relative
	top 20px
#navWrapper
	position absolute
	bottom 0
	right 0
	left 0
	height 80px
#gameSectionsNav
	height navHeight
	margin 0 auto
	line-height navHeight
	position absolute
	right 80px
	left 80px
#gameSectionsNavWrapper
	background red
	height navHeight
	margin 0 auto
.gameSectionNav
	font-size 16px
	text-align center
	overflow ellipsis
	cursor pointer
	display box
.gameSectionNav.outerLeft
	background green
	opacity 1
.gameSectionNav.innerLeft
	background blue
	opacity 1
.gameSectionNav.middle
	background pink
	font-size 36px
.gameSectionNav.innerRight
	background purple
	opacity 1
.gameSectionNav.outerRight
	background orange
	opacity 1
#gameSectionsNavSlider
	width gameSectionNavWidth
	height 4px
	background midnight
	position absolute
	bottom 0
	left 10px
	opacity 0
.navButton
	width navButtonWidth
	height navButtonHeight
	position absolute
	top 25px
	z-index 1
	cursor pointer
.navButton.left
	left 20px
.navButton.right
	right 20px

//Nav Hover States
.gameSectionNav:hover
	color steelBlue

//Notification Styles
.notification
	position fixed
	top 80px
	background rgba(245,245,245,0.8)
	color midnight
	left 0
	right 0
	height 30px
	line-height 30px
	box-shadow 0 0 1px #2b3d4f
	opacity 0
	transition opacity normalSpeed
	text-align center
.notificationContent
	display inline-block
	margin 0 auto
.notification[data-state="true"]
	opacity 1
.notificationText
	float left
.notificationButton
	margin 0 0 0 20px
	float left
	cursor pointer
.notificationButton:hover
	color steelBlue