@import 'nib'
@import '../variables'

#nav
	height navHeight
	background offWhite90
	position fixed
	top -230px
	right 0
	left 0
	z-index 99
	height 310px
	transition transform normalSpeed
#navWrapper
	position absolute
	bottom 0
	right 0
	left 0
	height 80px
#nav .dualButton
	position relative
	top 20px
#gameSectionsNav
	height navHeight
	margin 0 auto
	line-height navHeight
	position absolute
	right 80px
	left 80px
	overflow hidden
#gameSectionsNavWrapper
	//background red
	height navHeight
	width 100%
	margin 0 auto
	display flex
	//display -webkit-box
	-webkit-justify-content center
	-webkit-box-pack center
	-moz-box-pack center
	//-webkit-flex-row row
.gameSectionNav
	font-size 16px
	text-align center
	overflow ellipsis
	cursor pointer
	min-width 40px //IconWidth
	line-height navHeight
.gameSectionNav.outerLeft
	padding 0 30px 0 0
	line-height (navHeight + 5) //Center subnavigation with the text
	opacity 0
.gameSectionNav.innerLeft
	padding 0 30px 0 0
	line-height (navHeight + 5)
	opacity 1
.gameSectionNav.middle
	padding 0 30px 0 0
	font-size 36px
.gameSectionNav.innerRight
	padding 0 30px 0 0
	line-height (navHeight + 5)
	opacity 1
.gameSectionNav.outerRight
	line-height (navHeight + 5)
	opacity 0
#gameSectionsNavSlider
	width gameSectionNavWidth
	height 4px
	background midnight
	position absolute
	bottom 0
	left 10px
	opacity 0
	display none
.navButton
	width navButtonWidth
	height navButtonHeight
	position absolute
	top 25px
	z-index 1
	cursor pointer
.navButton.left
	left 20px
.navButton.right
	right 20px

//Nav Hover States
.no-touch .gameSectionNav:hover
	color steelBlue