@import 'nib'
@import '../variables'

//Profile Styles
.profileNotice
	height 50px
	width tileWidth - 20
	position absolute
	top 50%
	right 0
	left 0
	line-height 50px
	margin -25px auto 0 auto
	font-size 36px
	text-align center