@import 'nib'
@import '../palette'

//Text Entry Box Styles
.textEntryBox
	background belizeHole
	//max-width 600px
	//min-height 80px
	height 100px
	//max-height 80px
	//border-radius 3px
	position fixed
	right 0
	bottom 0
	left 0
	//margin-left -300px
	color midnightBlue
/*.textEntryBox:after
	content ''
	position absolute
	top 0
	right 0
	bottom -5px
	left 0
	z-index -1
	border-radius 3px
	background belizeHole*/
.textEntryForm
	background peterRiver
	position absolute
	top 0
	right 0
	bottom 0
	left 50%
	max-width 800px
	margin-left -400px
.textEntryText
	position absolute
	top 20px
	right 90px
	bottom 20px
	left 20px
	padding 10px
	border none
	background clouds
	border-top-left-radius 3px
	border-bottom-left-radius 3px
.textEntrySubmit
	position absolute
	width 80px
	top 20px
	right 20px
	bottom 20px
	border none
	margin 0
	background clouds
	border-top-right-radius 3px
	border-bottom-right-radius 3px
	cursor pointer