@import 'nib'
@import '../variables'

//Tile Styles
.tileWrapper
	-webkit-touch-callout none
	-webkit-user-select none
	transition opacity slowSpeed
	transform-style flat
	backface-visiblity hidden
	transform-origin center
	width 400px
	height 380px
	opacity 1
	z-index 99
	float left
	position relative
.tile
	height 360px
	position relative
	margin 10px
	border-radius 3px
	box-shadow 0 0 1px 0 rgba(0,0,0,0.3)
//Tile Drop Shadow
.tile:before
	content ''
	position absolute
	top 0
	right 0
	bottom -5px
	left 0
	z-index -1
	border-radius 3px
//Tile Folded Corner
/*.tile:after
	content ''
	position absolute
	top 0
	right 0
	z-index 1
	width 0px
	height 0px
	border-style solid
	border-width 0 60px 60px 0
	border-color transparent #007bff transparent transparent*/
.tileContainer
	height inherit
	width inherit
	position relative
.tileContent
	height inherit
	overflow hidden
	cursor pointer
	list-style none
	background-repeat no-repeat
	background-size cover
	background-position 50% 50%
	position relative
	z-index 1
	border-top-left-radius 3px
	border-top-right-radius 3px
.tileInfo
	position absolute
	top 0
	right 0
	left 0
	z-index 1
	padding 0 20px 0 20px
	height 140px
	color clouds
	transform translate3d(0,300px,0)
	transition opacity normalSpeed, transform normalSpeed
.tile:hover .tileInfo
	opacity 0.9
	transform translate3d(0,220px,0)
.tileName
	line-height 60px
	height 50px
	font-size 24px
	overflow hidden
	white-space nowrap
	text-overflow ellipsis
	text-shadow 0 1px 1px midnightBlue
.tileDescription
	width inherit
	height 80px
	overflow hidden
	opacity 0
	transition opacity normalSpeed
.tile:hover .tileDescription
	opacity 1

//Genre Color Styles
.tileWrapper[data-genre="Free to Play"] .tile,
.tileWrapper[data-genre="Free to Play"] .tileInfo
	background turquoise
.tileWrapper[data-genre="Platformer"] .tile,
.tileWrapper[data-genre="Platformer"] .tileInfo
	background emerland
.tileWrapper[data-genre="Action"] .tile,
.tileWrapper[data-genre="Action"] .tileInfo
	background peterRiver
.tileWrapper[data-genre="Adventure"] .tile,
.tileWrapper[data-genre="Adventure"] .tileInfo
	background amethyst
.tileWrapper[data-genre="Strategy"] .tile,
.tileWrapper[data-genre="Strategy"] .tileInfo
	background wetAsphalt
.tileWrapper[data-genre="Role Playing"] .tile,
.tileWrapper[data-genre="Role Playing"] .tileInfo
	background sunflower
.tileWrapper[data-genre="Massively Multiplayer"] .tile,
.tileWrapper[data-genre="Massively Multiplayer"] .tileInfo
	background carrot
.tileWrapper[data-genre="Simulation"] .tile,
.tileWrapper[data-genre="Simulation"] .tileInfo
	background alizarin
.tileWrapper[data-genre="Puzzle"] .tile,
.tileWrapper[data-genre="Puzzle"] .tileInfo
	background purpleRain
.tileWrapper[data-genre="Sports"] .tile,
.tileWrapper[data-genre="Sports"] .tileInfo
	background concrete

//Genre Color Button Backdrop Styles
.tileWrapper[data-genre="Free to Play"] .tile:before
	background greenSea
.tileWrapper[data-genre="Platformer"] .tile:before
	background nephritis
.tileWrapper[data-genre="Action"] .tile:before
	background belizeHole
.tileWrapper[data-genre="Adventure"] .tile:before
	background wisteria
.tileWrapper[data-genre="Strategy"] .tile:before
	background midnightBlue
.tileWrapper[data-genre="Role Playing"] .tile:before
	background orange
.tileWrapper[data-genre="Massively Multiplayer"] .tile:before
	background pumpkin
.tileWrapper[data-genre="Simulation"] .tile:before
	background pomegranate
.tileWrapper[data-genre="Puzzle"] .tile:before
	background risingTyphoon
.tileWrapper[data-genre="Sports"] .tile:before
	background asbestos