@import 'nib'
@import '../palette'

//Tile Styles
.tileWrapper
	-webkit-touch-callout none
	-webkit-user-select none
	height 150px
	position relative
	//position absolute
	//right 0
	//left 0
	background transparent
	transition transform normalSpeed, background normalSpeed
.tileWrapper.active ~ .tileWrapper
	transform translate3d(0,380px,0)
.tile
	//margin 10px
	height 130px
	cursor pointer
	list-style none
	background-size cover
	background-position 50% 0%
	transition transform normalSpeed
	position relative
	top 0
	margin-left 20px
	margin-right 20px
	box-shadow 0 0 2px darkShadow
.tile:after
	content ''
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	border 1px solid rgba(255,255,255,0.1)
	border-bottom 0
	background-origin border-box
	background linear-gradient(top left, 50% rgba(255,255,255,0.10), rgba(255,255,255,0))
.tileInfo
	position absolute
	right 0
	left 0
	bottom 0
	background-color rgba(0,0,0,0.45)
	padding 10px
	color white
	line-height 15px