<template name="contentInfo">
  {{#isolate}}
  <article class="contentInfo">
    <div class="contentPost">
      {{#if title}}
      <div class="title" data-type="topic" data-field="title" contenteditable="true" spellcheck="false">{{title}}</div>
      {{/if}}
      {{#if currentParamIsNot 'contentInfo' 'about'}}
      <a class="contentOwner" href="/users/{{toSlug owner}}">{{owner}}</a>
      {{/if}}
      <div class="content" data-type="topic" data-field="content" contenteditable="true" spellcheck="false">
        {{toHtml content}}
      </div>
      <a class="permalink" href="/users/{{toSlug owner}}/{{toSlug parentSlug}}/{{currentParam 'contentInfo'}}/{{toSlug title}}"></a>
    </div>
    {{#if userCanEdit}}
    <div class="remove contentInfo">{{icon 'delete'}}</div>
    {{/if}}
    {{#each contentDetails}}
      <article class="contentInfo">
        <div class="contentPost">
          <a class="contentOwner" href="/users/{{toSlug owner}}">{{owner}}</a>
          <div class="content" data-type="topic" data-field="content" contenteditable="true" spellcheck="false">
            {{toHtml content}}
          </div>
        </div>
      </article>
    {{/each}}
    {{#if currentUser}}
      {{#if currentParamIsNot 'contentInfo' 'about'}}
        {{>postForm}}
      {{/if}}
    {{/if}}
  </article>
  {{/isolate}}
</template>