<template name="cover">
  <section id="cover" data-context="{{$.Session.get 'cover'}}" data-hidden="{{$.Session.get 'coverHidden'}}" class="cover">
    {{#isolate}}
    <div class="closeCover" data-action="toggleCover"></div>
    <div class="coverContentWrapper">
      <div class="centeredCoverContent">
        <div class="coverContent">
          {{#if coverIs 'login'}}
            {{>loginForm}}
          {{/if}}

          {{#if coverIs 'signup'}}
            {{>signupForm}}
          {{/if}}

          {{#if coverIs 'create'}}
            {{#if currentUser}}
              {{#if cinderAppConnected}}
              <div class="coverFormInfo">
                <div class="coverIcon"></div>
                <div class="coverTitle">Create</div>
                {{>createForm}}
              </div>
              {{else}}
              <div class="coverIcon"></div>
              <div class="coverTitle">Make Games With The Cinder App</div>
              <div class="coverMasthead">
                <div class="buttonsWrapper">
                  <div class="coverMastheadSubtitle">Download for</div>
                  <a href="/downloads/macos/fire.zip" class="button">Mac</a>
                  <a href="/downloads/windows/fire.zip" class="button">PC</a>
                </div>
              </div>
              <div class="column">
                <div class="columnIcon"></div>
                <div class="columnContent">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </div>
              </div>
              <div class="column">
                <div class="columnIcon"></div>
                <div class="columnContent">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </div>
              </div>
              <div class="column">
                <div class="columnIcon"></div>
                <div class="columnContent">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </div>
              </div>
              {{/if}}
            {{else}}
              {{>loginForm}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
    {{/isolate}}
  </section>
</template>