<template name="cover">
  <section data-context="" data-hidden="{{$.Session.get 'coverHidden'}}" class="cover">
    <div class="closeCover" data-action="toggleCover"></div>
    <div class="coverContentWrapper">
      <div class="centeredCoverContent">
        <div class="coverIcon"></div>
        <div class="coverTitle">Title</div>
        <div class="coverContent">
          {{#if coverIs 'login'}}
            {{>loginForm}}
          {{/if}}

          {{#if coverIs 'signup'}}
            {{>signupForm}}
          {{/if}}

          {{#if coverIs 'create'}}
            {{>createForm}}
          {{/if}}
        </div>
      </div>
    </div>
  </section>
</template>