<template name="home">
  <div class="contentWrapper">
    <aside class="sidebar left">
      <a class="logo white" href="/all">
        <div class="logoIcon">{{icon 'cinder'}}</div>
        <div class="logoText">Cinder</div>
      </a>
    </aside>
    <nav class="quickNavList">
      <li data-action="toggleCover" data-cover="login" class="quickNavListItem">Login</li>
      <li data-action="toggleCover" data-cover="signup" class="quickNavListItem">Signup</li>
    </nav>
    <section class="section intro">
      <div class="pane">
        <div class="masthead">Shared Creation</div>
        <div class="mastheadInfo">Cinder is a community platform to create, play, and enjoy games together with both gamers and developers alike.</div>
        <div class="buttonsWrapper">
          <a class="button" data-action="toggleCover" data-cover="signup">Signup</a>
          <a class="button" href="/all">Browse Games</a>
        </div>
      </div>
    </section>
    <section class="section learn">
      <div class="sectionTitle">How Cinder Works</div>
      <div class="pane">
        <div class="column">
          <div class="columnTitle">For Gamers</div>
          <ul class="columnList">
            <li class="columnListItem">
              <div class="columnListIcon">{{icon 'game'}}</div>
              <div class="columnListTitle">Play New Games</div>
              <div class="columnListText">Enjoy games that are being developed in real time.</div>
            </li>
            <li class="columnListItem">
              <div class="columnListIcon">{{icon 'talk'}}</div>
              <div class="columnListTitle">Talk With Makers</div>
              <div class="columnListText">Give ideas to developers of games you enjoy.</div>
            </li>
            <li class="columnListItem">
              <div class="columnListIcon">{{icon 'idea'}}</div>
              <div class="columnListTitle">Support New Ideas</div>
              <div class="columnListText">Put money towards ideas you want to see in the game.</div>
            </li>
          </ul>
        </div>
        <div class="column">
          <div class="columnTitle">For Makers</div>
          <ul class="columnList">
            <li class="columnListItem">
              <div class="columnListIcon">{{icon 'add'}}</div>
              <div class="columnListTitle">Create With Others</div>
              <div class="columnListText">Develop games live with people that want to play your game.</div>
            </li>
            <li class="columnListItem">
              <div class="columnListIcon">{{icon 'converse'}}</div>
              <div class="columnListTitle">Talk With Gamers</div>
              <div class="columnListText">Discuss ideas with gamers to build a better game.</div>
            </li>
            <li class="columnListItem">
              <div class="columnListIcon">{{icon 'money'}}</div>
              <div class="columnListTitle">Get Paid</div>
              <div class="columnListText">Get paid by the community to make ideas they want to see in the game.</div>
            </li>
          </ul>
        </div>
        <a data-action="toggleCover" data-cover="signup" class="button">Sign Up</a>
      </div>
    </section>
    <section class="section tiles">
      <div class="sectionTitle">What People Are Making</div>
      <div class="pane">
        {{#each creations}}
        {{>tile}}
        {{/each}}
        <a class="button" href="/all">Browse Games</a>
      </div>
    </section>
    {{#with hidden}}
    <section class="section create">
      <div class="sectionTitle">Get The Cinder App</div>
      <div class="pane">
        <div class="column">
          <div class="columnIcon"></div>
          <div class="columnContent">Sync games with Cinder seamlessly.</div>
        </div>
        <div class="column">
          <div class="columnIcon"></div>
          <div class="columnContent">Collaborate with others on projects.</div>
        </div>
        <div class="column">
          <div class="columnIcon"></div>
          <div class="columnContent">Automated backups of every deploy.</div>
        </div>
        <a data-action="toggleCover" data-cover="create" class="button">Get The Cinder App</a>
      </div>
    </section>
    {{/with}}
  </div>
</template>