<template name="leftSidebar">
  <aside class="sidebar left">
    <a class="logo black" href="/">
      <div class="logoIcon"></div>
      <div class="logoText">Cinder</div>
    </a>
    <h2 class="sidebarHeader">Browse</h2>
    <ul class="sidebarList">
      <li class="sidebarListItem">
        <a href="/all" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">All</div>
        </a>
      </li>
      <li class="sidebarListItem">
        <a href="/new" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">New</div>
        </a>
      </li>
      <li class="sidebarListItem">
        <a href="/featured" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Featured</div>
        </a>
      </li>
      {{#if currentUser}}
      <li class="sidebarListItem">
        <a data-action="toggleCover" data-cover="create" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Create</div>
        </a>
      </li>
      {{/if}}
    </ul>
    {{#if currentUser}}
    <h2 class="sidebarHeader">Favorites</h2>
    <ul class="sidebarList">
      <li class="sidebarListItem">
        <a href="contentAbout.html" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Content Name 1</div>
        </a>
      </li>
      <li class="sidebarListItem">
        <a href="contentAbout.html" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Content Name 2</div>
        </a>
      </li>
      <li class="sidebarListItem">
        <a href="contentAbout.html" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Content Name 3</div>
        </a>
      </li>
    </ul>
    <h2 class="sidebarHeader">Following</h2>
    <ul class="sidebarList">
      <li class="sidebarListItem">
        <a href="contentProfile.html" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Username 1</div>
        </a>
      </li>
      <li class="sidebarListItem">
        <a href="contentProfile.html" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Username 2</div>
        </a>
      </li>
      <li class="sidebarListItem">
        <a href="contentProfile.html" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Username 3</div>
        </a>
      </li>
    </ul>
    {{/if}}
    <h2 class="sidebarHeader">Account</h2>
    <ul class="sidebarList">
      {{#if currentUser}}
        {{#with currentUser}}
        <li class="sidebarListItem">
          <a href="/users/{{_id}}/profile/creations" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">{{username}}</div>
          </a>
        </li>
        <li class="sidebarListItem">
          <a href="/users/{{_id}}/profile/dashboard" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">Dashboard</div>
          </a>
        </li>
        <li class="sidebarListItem">
          <a data-action="logout" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">Logout</div>
          </a>
        </li>
        {{/with}}
      {{else}}
      <li class="sidebarListItem">
        <a data-action="toggleCover" data-cover="login" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Login</div>
        </a>
      </li>
      <li class="sidebarListItem">
        <a data-action="toggleCover" data-cover="signup" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Signup</div>
        </a>
      </li>
      {{/if}}
    </ul>
  </aside>
</template>