<template name="player">
  <section class="player">
    <a data-action="toggleOverlay" class="logo white">
      <div class="logoIcon"></div>
      <div class="logoText">Cinder</div>
    </a>

    {{#with content}}
    <iframe class="player" src="{{gameSrc}}" frameborder="0"></iframe>
    {{/with}}

    <div class="playerControls">
      <div data-action="toggleOverlay" class="control play"></div>
      <div data-action="toggleOverlay" class="control pause"></div>
      {{#with hidden}}
      <div class="time">3:20</div>
      <div class="sliderWrapper progress">
        <div class="slider">
          <div class="track">
            <div class="bar">
              <div class="handle"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="duration">4:00</div>
      <div class="volumeIcon"></div>
      <div class="sliderWrapper volume">
        <div class="slider">
          <div class="track">
            <div class="bar">
              <div class="handle"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="enterFullscreen"></div>
      <div class="exitFullscreen"></div>
      {{/with}}
    </div>
  </section>
</template>