<template name="player">
  <section id="playerWrapper">
    {{#if playing}}
    {{#with playing}}
    <iframe id="player" src="{{contentSrc}}" sandbox="allow-scripts allow-pointer-lock" seamless></iframe>
    {{/with}}

    {{#if $eq type 'game'}}

    {{/if}}

    {{#if $eq type 'show'}}
    {{>media}}
    {{/if}}

    {{#if $eq type 'song'}}
    {{>media}}
    {{/if}}

    {{#if $eq type 'movie'}}
    {{>media}}
    {{/if}}

    <div id="playerControls">
      <div class="control play" data-isPlaying="{{$.Session.get 'isPlaying'}}">{{icon 'play'}}</div>
      <div class="control pause" data-isPlaying="{{$.Session.get 'isPlaying'}}">{{icon 'pause'}}</div>
      {{!<div class="enterFullscreen"></div>
      <div class="exitFullscreen"></div>
      <div class="time">3:20</div>
      <div class="sliderWrapper progress">
        <div class="slider">
          <div class="track">
            <div class="bar"></div>
            <div class="handle"></div>
          </div>
        </div>
      </div>
      <div class="duration">4:00</div>
      <div class="sliderWrapper volume">
        <div class="volumeIcon"></div>
        <div class="slider">
          <div class="track">
            <div class="bar"></div>
            <div class="handle"></div>
          </div>
        </div>
      </div>
    </div>}}
    {{/if}}
  </section>
</template>