<template name="player">
  <section class="player">
    <div class="playerControls">
      <div class="control play"></div>
      <div class="control pause"></div>
      <div class="time">3:20</div>
      <div class="sliderWrapper progress">
        <div class="slider">
          <div class="track">
            <div class="bar">
              <div class="handle"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="duration">4:00</div>
      <div class="volumeIcon"></div>
      <div class="sliderWrapper volume">
        <div class="slider">
          <div class="track">
            <div class="bar">
              <div class="handle"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="enterFullscreen"></div>
      <div class="exitFullscreen"></div>
    </div>
  </section>
</template>