<template name="rightSidebar">
  <aside class="sidebar right">
    {{#with content}}
    <a href="" class="sidebarInfo">
      <div class="sidebarHeader">{{title}}</div>
      <div class="sidebarInfoText">100 Backers</div>
    </a>
    <ul class="sidebarList">
      {{#each filteredContent}}
      <li class="sidebarListItem">
        <a href="/users/{{owner}}/{{_id}}/about" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">{{title}}</div>
        </a>
      </li>
      {{/each}}
      <li class="sidebarListItem">
        <a data-action="play" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Play</div>
        </a>
      </li>
      <li class="sidebarListItem">
        <a href="/users/{{owner}}/{{_id}}/about" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">About</div>
        </a>
      </li>
      <li class="sidebarListItem">
        <a href="/users/{{owner}}/{{_id}}/community" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Community</div>
        </a>
      </li>
    </ul>
    {{/with}}
    {{#with owner}}
    <a href="/users/{{_id}}/profile/creations" class="sidebarInfo">
      <div class="sidebarHeader">{{username}}</div>
      <div class="sidebarInfoText">100 Followers</div></a>
    <ul class="sidebarList">
      {{#if currentUser}}
        {{#if isNotOwner}}
        <li class="sidebarListItem">
          <a data-action="follow" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">Follow</div>
          </a>
        </li>
        {{/if}}
      {{else}}
      {{/if}}
      <li class="sidebarListItem">
        <a href="/users/{{_id}}/profile/creations" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Creations</div>
        </a>
      </li>
      <li class="sidebarListItem">
        <a href="/users/{{_id}}/profile/favorites" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Favorites</div>
        </a>
      </li>
      {{#if currentUser}}
        {{#if isOwner}}
        <li class="sidebarListItem">
          <a href="/users/{{_id}}/profile/dashboard" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">Dashboard</div>
          </a>
        </li>
        <li class="sidebarListItem">
          <a href="/users/{{_id}}/profile/settings" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">Settings</div>
          </a>
        </li>
        {{/if}}
      {{/if}}
    </ul>
    {{/with}}
  </aside>
</template>