<template name="rightSidebar">
  <aside class="sidebar right">
      {{#if currentTemplateIsNot 'filteredContent'}}
      {{#with playing}}
      <a href="" class="sidebarInfo" style="background-image: url({{previewSrc}});">
        <div class="sidebarInfoBackdrop"></div>
        <div class="sidebarSubHeader">The Game?</div>
        <div class="sidebarHeader">{{title}}</div>
        <div class="sidebarInfoText">
          {{#with hidden}}
          {{#if currentTemplateIsNot 'filteredContent'}}
          100 Backers
          {{else}}
          A Game
          {{/if}}
          {{/with}}
        </div>
      </a>
      {{/with}}
      {{else}}
      <a data-action="toggleCover" data-cover="create" class="sidebarInfo">
        <div class="sidebarInfoBackdrop"></div>
        <div class="sidebarSubHeader">Create</div>
        <div class="sidebarHeader">Create</div>
        <div class="sidebarInfoText">
          {{#with hidden}}
          {{#if currentTemplateIsNot 'filteredContent'}}
          100 Backers
          {{else}}
          A Game
          {{/if}}
          {{/with}}
        </div>
      </a>
      {{/if}}
      <ul class="sidebarList">
        {{#if currentTemplateIsNot 'filteredContent'}}
        {{#with playing}}
        <li class="sidebarListItem">
          <a data-action="play" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">Play</div>
          </a>
        </li>
        {{/with}}
        {{#with hidden}}
        <li class="sidebarListItem">
          <a data-action="toggleFavorite" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">
              {{#if userProfileArrayHas 'favorites' _id}}}
              Unfavorite
              {{else}}
              Favorite
              {{/if}}
            </div>
          </a>
        </li>
        {{/with}}
        {{#with hidden}}
        <li class="sidebarListItem">
          <a data-current="{{#if currentParamIs 'contentInfo' 'community'}}true{{/if}}"
          href="/users/{{owner}}/{{_id}}/community" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">Community</div>
          </a>
        </li>
        {{/with}}
        {{else}}
        {{#with hidden}}
        <li class="sidebarListItem">
          <a class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">Read The Wiki</div>
          </a>
        </li>
        <li class="sidebarListItem">
          <a data-action="toggleCover" data-cover="download" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">Download The App</div>
          </a>
        </li>
        {{/with}}
        <li class="sidebarListItem">
          <a data-action="toggleCover" data-cover="create" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">Create Game</div>
          </a>
        </li>
        {{/if}}
        {{#with hidden}}
        {{#each filteredContent}}
        <li class="sidebarListItem">
          <a href="/users/{{owner}}/{{_id}}/about" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">{{title}}</div>
          </a>
        </li>
        {{/each}}
        {{/with}}
      </ul>
    {{#with owner}}
    <a href="/users/{{_id}}/profile/creations" class="sidebarInfo" style="background-image: url({{profile.profileSrc}});">
      <div class="sidebarInfoBackdrop"></div>
      <div class="sidebarSubHeader">The Name?</div>
      <div class="sidebarHeader">{{username}}</div>
      <div class="sidebarInfoText">{{#with hidden}}{{getLength profile.followers}} Followers{{/with}}</div></a>
    <ul class="sidebarList">
      {{#if currentUser}}
        {{#if isNotOwner}}
        <li class="sidebarListItem">
          <a data-action="toggleFollow" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">
              {{#if userProfileArrayHas 'following' _id}}}
              Unfollow
              {{else}}
              Follow
              {{/if}}
            </div>
          </a>
        </li>
        {{/if}}
      {{else}}
      {{/if}}
      <li class="sidebarListItem">
        <a data-current="{{#if currentParamIs 'contentInfo' 'creations'}}true{{/if}}"
        href="/users/{{_id}}/profile/creations" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">View Profile</div>
        </a>
      </li>
      {{#if currentUser}}
      <li class="sidebarListItem">
        <a data-action="logout" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Logout</div>
        </a>
      </li>
      {{/if}}
      {{#with hidden}}
      {{#if profile.favorites}}
      <li class="sidebarListItem">
        <a data-current="{{#if currentParamIs 'contentInfo' 'favorites'}}true{{/if}}"
        href="/users/{{_id}}/profile/favorites" class="sidebarListItemLink">
          <div class="sidebarListItemIcon"></div>
          <div class="sidebarListItemText">Favorites</div>
        </a>
      </li>
      {{/if}}
      {{/with}}
      {{#if currentUser}}
        {{#if isOwner}}
          {{#if profile.creations}}
          <li class="sidebarListItem">
            <a data-current="{{#if currentParamIs 'contentInfo' 'dashboard'}}true{{/if}}"
            href="/users/{{_id}}/profile/dashboard" class="sidebarListItemLink">
              <div class="sidebarListItemIcon"></div>
              <div class="sidebarListItemText">Dashboard</div>
            </a>
          </li>
          {{/if}}
        <li class="sidebarListItem">
          <a data-current="{{#if currentParamIs 'contentInfo' 'settings'}}true{{/if}}"
          href="/users/{{_id}}/profile/settings" class="sidebarListItemLink">
            <div class="sidebarListItemIcon"></div>
            <div class="sidebarListItemText">Settings</div>
          </a>
        </li>
        {{/if}}
      {{/if}}
    </ul>
    {{/with}}
  </aside>
</template>