<template name="topic">
  {{#isolate}}
  <div class="topic" data-trayOpen="{{$.Session.equals 'topicTrayOpen' _id}}">
    <div class="topicSidebar">
      <div class="topicSidebarInfo">
        <div class="topicSideFormTitle">${{pledgeTotal}}</div>
        <div class="topicSideFormSubtitle">Pledged to this idea</div>
        {{>pledgeForm}}
      </div>
    </div>
    <div class="topicTray">
      {{>creditCardForm}}
    </div>
    <div class="topicWrapper">
      <div class="topicTitle">
        {{#with getUserById owner}}
        <a href="/users/{{_id}}/profile/creations" class="topicTitleIcon" style="background-image: url({{profile.profileSrc}});"></a>
        {{/with}}
        <div class="topicTitleText">{{title}}</div>
      </div>
      <div class="topicContent">{{content}}</div>
      <div class="topics" data-open="{{topicOpen}}">
        {{#each topicPosts}}
        <div class="topicWrapper">
          {{#with getUserById owner}}
          <a href="/users/{{_id}}/profile/creations" class="topicIcon" style="background-image: url({{profile.profileSrc}});"></a>
          {{/with}}
          <div class="topicContent">
            {{toHtml content}}
          </div>
        </div>
        {{/each}}
        <div class="topicWrapper">
          {{#with currentUser}}
          <div class="topicIcon" style="background-image: url({{profile.profileSrc}});"></div>
          {{/with}}
          <div class="topicContent">
            {{>postForm}}
          </div>
        </div>
      </div>
      {{#if arrayIsGreaterThan posts 5}}
      <div class="topicToolbar">
        <a data-action="toggleTopic" class="topicToolbarButton">
          {{#if $.Session.equals 'topicOpen' _id}}
            Hide {{getLength posts}} Replies
            {{else}}
            View {{getLength posts}} Replies
          {{/if}}
        </a>
      </div>
      {{/if}}
    </div>
  </div>
  {{/isolate}}
</template>