<template name="topic">
  <div class="topic">
    <div class="topicSidebar">
      <div class="topicSidebarInfo">
        <div class="topicSideFormTitle">$1,000,000,000</div>
        <div class="topicSideFormSubtitle">Pledged</div>
        <form class="topicSideForm">
          <input type="number" placeholder="$0.00" class="formInput"/>
          <button class="button formSubmit">Pledge</button>
        </form>
      </div>
    </div>
    <div class="topicWrapper">
      <div class="topicTitle">
        <div class="topicTitleIcon"></div>
        <div class="topicTitleText">{{title}}</div>
      </div>
      <div class="topicContent">{{content}}</div>
      {{#each topicPosts}}
      <div class="topicWrapper">
        <div class="topicIcon"></div>
        <div class="topicContent">
          {{toHtml content}}
        </div>
      </div>
      {{/each}}
      <div class="topicWrapper">
        <div class="topicIcon"></div>
        <div class="topicContent">
          {{>postForm}}
        </div>
      </div>
    </div>
    <div class="topicToolbar"><a href="" class="topicToolbarButton">Hide 2 Replies</a></div>
  </div>
</template>