<template name="topic">
  {{#isolate}}
  <div class="topic">
    {{#with hidden}}
    <div class="topicSidebar">
      <div class="topicSidebarInfo">
        <div class="topicSideFormTitle">${{pledgeTotal}}</div>
        <div class="topicSideFormSubtitle">Pledged to this idea</div>
        {{>pledgeForm}}
        <div class="topicSideFormMask" data-hidden="true">
          <div class="topicSideFormMaskInfo">
            <div class="topicSideFormMaskIcon"></div>
            <div class="topicSideFormMaskTitle">Processing Payment...</div>
          </div>
        </div>
      </div>
    </div>
    <div class="topicTray">
      {{>creditCardForm}}
    </div>
    {{/with}}
    <div class="topicWrapper">
      <div class="topicContentSidebar">
        <div class="topicContentSidebarInfo">
          {{#with getUserById owner}}
          <a href="/users/{{_id}}/profile/creations" class="topicContentSidebarIcon" style="background-image: url({{profile.profileSrc}});"></a>
          {{#with hidden}}
          <a href="/users/{{_id}}/profile/creations" class="topicContentSidebarTitle">{{username}}</a>
          {{/with}}
          {{/with}}
        </div>
      </div>
      <div class="topicContentInfo">
        <div class="topicContentTitle">{{title}}</div>
        <div class="topicContent">{{toHtml content}}</div>
      </div>
      <div class="topics" data-open="{{topicOpen}}">
        {{#each topicPosts}}
        {{#isolate}}
        <div class="topicWrapper">
          <div class="topicContentSidebar">
            <div class="topicContentSidebarInfo">
              {{#with getUserById owner}}
              <a href="/users/{{_id}}/profile/creations" class="topicContentSidebarIcon" style="background-image: url({{profile.profileSrc}});"></a>
              {{#with hidden}}
              <a href="/users/{{_id}}/profile/creations" class="topicContentSidebarTitle">{{username}}</a>
              {{/with}}
              {{/with}}
            </div>
          </div>
          <div class="topicContent">
            {{toHtml content}}
          </div>
        </div>
        {{/isolate}}
        {{/each}}
        {{#if currentUser}}
        <div class="topicWrapper">
          <div class="topicContentSidebar">
            <div class="topicContentSidebarInfo">
              {{#with currentUser}}
              <a href="/users/{{_id}}/profile/creations" class="topicContentSidebarIcon" style="background-image: url({{profile.profileSrc}});"></a>
              {{#with hidden}}
              <a href="/users/{{_id}}/profile/creations" class="topicContentSidebarTitle">{{username}}</a>
              {{/with}}
              {{/with}}
            </div>
          </div>
          <div class="topicContent">
            {{>postForm}}
          </div>
        </div>
        {{/if}}
      </div>
      {{#if arrayIsGreaterThan posts 5}}
      <div class="topicToolbar">
        <a data-action="toggleTopic" class="topicToolbarButton">
          {{#if $.Session.equals 'topicOpen' _id}}
            Hide {{getLength posts}} Replies
            {{else}}
            View {{getLength posts}} Replies
          {{/if}}
        </a>
      </div>
      {{/if}}
    </div>
  </div>
  {{/isolate}}
</template>