<template name="contentForm">
  {{#isolate}}
  <div class="topicEntry">
    {{#autoForm schema=contentFormSchema validation="keyup" novalidate="novalidate" onSubmit=onSubmit framework="none" class="topicForm"}}
    {{afFieldInput "content" class="formInput expanding" placeholder="Tell everybody why they should play your game!" autocomplete="off" rows="10"}}
    <div class="formSubmitBar">
      <nav class="toolbarList">
        <li class="toolbarListItem">
          <a class="toolbarListItemLink">
            <div class="toolbarListItemIcon"></div>
            <div class="toolbarListItemText">Text</div>
          </a>
        </li>
        <li class="toolbarListItem">
          <a class="toolbarListItemLink">
            <div class="toolbarListItemIcon"></div>
            <div class="toolbarListItemText">Image</div>
          </a>
        </li>
        <li class="toolbarListItem">
          <a class="toolbarListItemLink">
            <div class="toolbarListItemIcon"></div>
            <div class="toolbarListItemText">Video</div>
          </a>
        </li>
      </nav>
      <button type="submit" class="button formSubmit">Add Post</button>
    </div>
    {{/autoForm}}
  </div>
  {{/isolate}}
</template>