<template name="creditCardForm">
  {{#autoForm schema=creditCardFormSchema validation="keyup" novalidate="novalidate" onSubmit=onSubmit framework="none" class="topicTrayForm"}}
  <div class="closeTopicTray"></div>
  <div class="topicTrayFormIcon"></div>
  <div class="topicTrayFormTitle">Add Credit Card</div>
  {{afFieldInput "username" class="formInput" placeholder="Username" autocomplete="off"}}
  {{afFieldInput "email" class="formInput" placeholder="email@email.com" autocomplete="off"}}
  {{afFieldInput "password" class="formInput" type="password" placeholder="Password" autocomplete="off"}}
  <button type="submit" class="button formSubmit">Pledge $1.00</button>
  <div class="topicTrayFormSubtitle">Your credit card is never stored on our servers</div>
  {{/autoForm}}
</template>