<template name="loginForm">
  <section id="loginForm" class="form" data-active="{{$.Session.get 'loginFormActive'}}">
    {{#autoForm schema=loginFormSchema validation="keyup" novalidate="novalidate" onSubmit=onSubmit}}
    <div class="form-group{{#if afFieldIsInvalid 'usernameOrEmail'}} error{{/if}}">
        {{afFieldInput "usernameOrEmail" placeholder="Username or Email" autocomplete="off"}}
    </div>
    <div class="form-group{{#if afFieldIsInvalid 'password'}} error{{/if}}">
        {{afFieldInput "password" type="password" placeholder="Password" autocomplete="off"}}
    </div>
    <button type="submit" class="form-button">></button>
    {{/autoForm}}
    </section>
</template>