<template name="loginForm">
  {{#isolate}}
  <div class="coverFormInfo">
    <div class="coverIcon"></div>
    <div class="coverTitle">Make and Play Games</div>
    <div class="coverSubtitle">Sign in to continue to Cinder</div>
    {{#autoForm schema=loginFormSchema validation="keyup" novalidate="novalidate" onSubmit=onSubmit framework="none" class="coverForm"}}
    {{afFieldInput "usernameOrEmail" class="formInput" placeholder="Username or Email" autocomplete="off"}}
    {{afFieldInput "password" class="formInput" type="password" placeholder="Password" autocomplete="off"}}
    <button type="submit" class="button formSubmit">Login</button>
    {{/autoForm}}
    <div class="coverFooter">
      <a data-action="switchCover" data-cover="signup" class="coverLink">Signup</a>
    </div>
  </div>
  {{/isolate}}
</template>