<template name="topicForm">
  {{#isolate}}
  <div class="topicEntry">
    {{#autoForm schema=topicFormSchema validation="keyup" novalidate="novalidate" onSubmit=onSubmit framework="none" class="topicForm" name="topicForm"}}
    <div class="topicFormInfo">
      {{#with currentUser}}
      <div class="topicEntrySidebar">
        <div class="topicEntrySidebarInfo">
          <a href="/users/{{_id}}/profile/creations" class="topicEntrySidebarIcon" style="background-image: url({{profile.profileSrc}});"></a>
          {{#with hidden}}
          <a href="/users/{{_id}}/profile/creations" class="topicEntrySidebarTitle">{{username}}</a>
          {{/with}}
        </div>
      </div>
      {{/with}}
      {{afFieldInput "title" class="formInput title expanding" placeholder="Give your idea a title.." autocomplete="off"}}
      {{afFieldInput "content" class="formInput expanding" placeholder="Then tell us about your idea!" autocomplete="off" rows="10"}}
    </div>
    <div class="formSubmitBar">
      <nav class="toolbarList">
        <li class="toolbarListItem">
          <a class="toolbarListItemLink">
            <div class="toolbarListItemIcon"></div>
            <div class="toolbarListItemText">Text</div>
          </a>
        </li>
        <li class="toolbarListItem">
          <a class="toolbarListItemLink">
            <div class="toolbarListItemIcon"></div>
            <div class="toolbarListItemText">Image</div>
          </a>
        </li>
        <li class="toolbarListItem">
          <a class="toolbarListItemLink">
            <div class="toolbarListItemIcon"></div>
            <div class="toolbarListItemText">Video</div>
          </a>
        </li>
      </nav>
      <button type="submit" class="button formSubmit">Add Idea</button>
    </div>
    {{/autoForm}}
  </div>
  {{/isolate}}
</template>