<template name="viewGameCommunity">
  {{#with game}}
  <h1>VIEWING GAME COMMUNITY</h1>
  <ul class="threads">
  {{#each threads}}
    <li class="thread">
      HELLO THREAD
      <h2 class="threadTitle">{{title}}</h2>
      <h3 class="threadAuthor">{{owner}}</h3>
      <p class="threadContent">{{content}}</p>
      {{!XXX Update this to actually pull the route's path variable with the correct helper when the new version if Iron Router is released}}
      {{title}}
      <a href="" class="readThread">Read Thread</a>
    </li>
  {{/each}}
  {{/with}}
  </ul>
</template>