@import 'nib'
@import '../variables'

.backwardIconWrapper
	transition transform normalSpeed
.backwardIcon
	height inherit
	width inherit
	-webkit-user-select none
.backwardIconBorder
	fill midnight90
.backwardIconArrow
	fill midnight90