@import 'nib'
@import '../variables'

.backIcon
	height 100%
	width 100%
.backIconBorder
	fill none
	stroke midnightBlue
	stroke-width 6px
	stroke-miterlimit 10
	-webkit-svg-shadow 0 2px 1px rgba(255,255,255,1)
.backIconArrow
	fill midnightBlue
	-webkit-svg-shadow 0 2px 1px rgba(255,255,255,1)