@import 'nib'
@import '../variables'

.backwardIcon
	height 100%
	width 100%
	opacity 0.5
	-webkit-user-select none
.no-touch .backwardIcon:hover
	opacity 1
.backwardIconBorder
	fill midnight
.backwardIconArrow
	fill midnight