@import 'nib'
@import '../variables'

.cinderIcon
	height 100%
	width 100%
.innerRung
	fill midnightBlue
	-webkit-svg-shadow 0 2px 1px rgba(255,255,255,1)
.outerRung
	fill midnightBlue
	-webkit-svg-shadow 0 2px 1px rgba(255,255,255,1)