@import 'nib'
@import '../variables'

.closeIconWrapper
	transition transform normalSpeed
.closeIcon
	height inherit
	width inherit
	-webkit-user-select none

//Close Icon Fill States
.closeIconBorder
	fill midnight90
.closeIconLeftLine
	fill none
	stroke midnight90
	stroke-width 6px
	stroke-miterlimit 10
.closeIconRightLine
	fill none
	stroke midnight90
	stroke-width 6px
	stroke-miterlimit 10

//Close Icon Hover States
.closeIcon:hover .closeIconBorder
	fill radiantBlue
.closeIcon:hover .closeIconLeftLine
	stroke radiantBlue
.closeIcon:hover .closeIconRightLine
	stroke radiantBlue