@import 'nib'
@import '../variables'

.closeIcon
	position absolute
	top 50%
	left 50%
	//margin -12px 0 0 -12px
	margin -11px 0 0 -14px
	height 24px
	width 24px
	pointer-events none
.closeIconBorder
	fill none
	stroke steelBlue
	stroke-width 6px
	stroke-miterlimit 10
.closeIconLeftLine
	fill none
	stroke steelBlue
	stroke-width 6px
	stroke-miterlimit 10
.closeIconRightLine
	fill none
	stroke steelBlue
	stroke-width 6px
	stroke-miterlimit 10