@import 'nib'
@import '../variables'

.closeIcon
	height 100%
	width 100%
	pointer-events none
.closeIconBorder
	fill midnight
.closeIconLeftLine
	fill none
	stroke midnight
	stroke-width 6px
	stroke-miterlimit 10
.closeIconRightLine
	fill none
	stroke midnight
	stroke-width 6px
	stroke-miterlimit 10