@import 'nib'
@import '../variables'

.confirmIcon
	position absolute
	top 50%
	left 50%
	margin -12px 0 0 -12px
	height 24px
	width 24px
	pointer-events none
.confirmIconBorder
	fill none
	stroke clouds
	stroke-width 6px
	stroke-miterlimit 10
.confirmIconArrow
	fill clouds
	transform rotateZ(180deg)
	transform-origin 50% 50%