@import 'nib'
@import '../variables'

.deleteIcon
	height 100%
	width 100%
	opacity 0.5
	-webkit-user-select none
.no-touch .deleteIcon:hover
	opacity 1
.deleteIconBallTop
	fill midnight
.deleteIconBallMidTop
	fill midnight
.deleteIconBallMidBottom
	fill midnight
.deleteIconBallBottom
	fill midnight
.deleteIconBorder
	fill midnight