@import 'nib'
@import '../variables'

.deleteIconWrapper
	transition transform normalSpeed
.deleteIcon
	height inherit
	width inherit
	-webkit-user-select none
.deleteIconBallTop
	fill midnight90
.deleteIconBallMidTop
	fill midnight90
.deleteIconBallMidBottom
	fill midnight90
.deleteIconBallBottom
	fill midnight90
.deleteIconBorder
	fill midnight90