@import 'nib'
@import '../variables'

.deleteIcon
	height 100%
	width 100%
	pointer-events none
.deleteIconBallTop
	fill midnight
.deleteIconBallMidTop
	fill midnight
.deleteIconBallMidBottom
	fill midnight
.deleteIconBallBottom
	fill midnight
.deleteIconBorder
	fill midnight