@import 'nib'
@import '../variables'

.enterFullscreenIcon
	height 100%
	width 100%
	opacity 0.5
	-webkit-user-select none
.no-touch .enterFullscreenIcon:hover
	opacity 1
.enterFullscreenIconBottomLeftArrow
	fill midnight
.enterFullscreenIconTopRightArrow
	fill midnight