@import 'nib'
@import '../variables'

.enterFullscreenIcon
	height 100%
	width 100%
	-webkit-user-select none
.enterFullscreenIconBottomLeftArrow
	fill midnight90
.enterFullscreenIconTopRightArrow
	fill midnight90