@import 'nib'
@import '../variables'

.enterFullscreenIconWrapper
	transition transform normalSpeed
.enterFullscreenIcon
	height inherit
	width inherit
	-webkit-user-select none
.enterFullscreenIconBottomLeftArrow
	fill midnight90
.enterFullscreenIconTopRightArrow
	fill midnight90