@import 'nib'
@import '../variables'

.exitFullscreenIcon
	height 100%
	width 100%
	opacity 0.5
	-webkit-user-select none
.no-touch .exitFullscreenIcon:hover
	opacity 1
.exitFullscreenIconBottomLeftArrow
	fill midnight
.exitFullscreenIconTopRightArrow
	fill midnight