@import 'nib'
@import '../variables'

.exitFullscreenIcon
	height 100%
	width 100%
	pointer-events none
.exitFullscreenIconBottomLeftArrow
	fill midnight
.exitFullscreenIconTopRightArrow
	fill midnight