@import 'nib'
@import '../variables'

.exitFullscreenIconWrapper
	transition transform normalSpeed
.exitFullscreenIcon
	height inherit
	width inherit
	-webkit-user-select none
.exitFullscreenIconBottomLeftArrow
	fill midnight90
.exitFullscreenIconTopRightArrow
	fill midnight90