@import 'nib'
@import '../variables'

.feedbackIconWrapper
	transition transform normalSpeed
.feedbackIcon
	height inherit
	width inherit
	-webkit-user-select none

//Feedback Fill States
.feedbackIconBorder
	fill midnight90
.feedbackIconPen
	fill midnight90
.feedbackIconTopLine
	fill midnight90
.feedbackIconMidTopLine
	fill midnight90
.feedbackIconMidBottomLine
	fill midnight90
.feedbackIconBottomLine
	fill midnight90

//Feedback Hover States
.no-touch .feedbackIcon:hover .feedbackIconBorder
	fill radiantBlue
.no-touch .feedbackIcon:hover .feedbackIconPen
	fill radiantBlue
.no-touch .feedbackIcon:hover .feedbackIconTopLine
	fill radiantBlue
.no-touch .feedbackIcon:hover .feedbackIconMidTopLine
	fill radiantBlue
.no-touch .feedbackIcon:hover .feedbackIconMidBottomLine
	fill radiantBlue
.no-touch .feedbackIcon:hover .feedbackIconBottomLine
	fill radiantBlue