@import 'nib'
@import '../variables'

.feedbackIcon
	height 100%
	width 100%
	pointer-events none
.feedbackIconBorder
	fill midnight
.feedbackIconPen
	fill midnight
.feedbackIconTopLine
	fill midnight
.feedbackIconMidTopLine
	fill midnight
.feedbackIconMidBottomLine
	fill midnight
.feedbackIconBottomLine
	fill midnight