@import 'nib'
@import '../variables'

.forwardIcon
	height 100%
	width 100%
	opacity 0.5
	cursor pointer
	-webkit-user-select none
.no-touch .forwardIcon:hover
	opacity 1
.forwardIconBorder
	fill midnight
.forwardIconArrow
	fill midnight