@import 'nib'
@import '../variables'

.forwardIconWrapper
	transition transform normalSpeed
.forwardIcon
	height inherit
	width inherit
	cursor pointer
	-webkit-user-select none
	pointer-events none
.forwardIconBorder
	fill midnight90
.forwardIconArrow
	fill midnight90