@import 'nib'
@import '../variables'

.frownIcon
	height 100%
	width 100%
	-webkit-user-select none
.frownIconLeftEye
	fill midnight90
.frownIconRightEye
	fill midnight90
.frownIconFrown
	fill midnight90