@import 'nib'
@import '../variables'

.frownIconWrapper
	transition transform normalSpeed
.frownIcon
	height inherit
	width inherit
	-webkit-user-select none
.frownIconLeftEye
	fill midnight90
.frownIconRightEye
	fill midnight90
.frownIconFrown
	fill midnight90