@import 'nib'
@import '../variables'

.frownIcon
	height 100%
	width 100%
	opacity 0.5
	-webkit-user-select none
.no-touch .frownIcon:hover
	opacity 1
.frownIconLeftEye
	fill midnight
.frownIconRightEye
	fill midnight
.frownIconFrown
	fill midnight