@import 'nib'
@import '../variables'

.happyIcon
	height 100%
	width 100%
	-webkit-user-select none
.happyIconLeftEye
	fill midnight90
.happyIconRightEye
	fill midnight90
.happyIconSmile
	fill midnight90