@import 'nib'
@import '../variables'

.happyIconWrapper
	transition transform normalSpeed
.happyIcon
	height inherit
	width inherit
	-webkit-user-select none
.happyIconLeftEye
	fill midnight90
.happyIconRightEye
	fill midnight90
.happyIconSmile
	fill midnight90