@import 'nib'
@import '../variables'

.ideaIcon
	height 100%
	width 100%
	pointer-events none
.ideaIconLeftRay
	fill midnight
.ideaIconMidLeftRay
	fill midnight
.ideaIconTopRay
	fill midnight
.ideaIconMidRightRay
	fill midnight
.ideaIconRightRay
	fill midnight
.ideaIconBulb
	fill midnight
.ideaIconBulbMiddle
	fill midnight
.ideaIconBulbBase
	fill midnight