@import 'nib'
@import '../variables'

.ideaIcon
	height 100%
	width 100%
	opacity 0.5
	-webkit-user-select none
.no-touch .ideaIcon:hover
	opacity 1
.ideaIconLeftRay
	fill midnight
.ideaIconMidLeftRay
	fill midnight
.ideaIconTopRay
	fill midnight
.ideaIconMidRightRay
	fill midnight
.ideaIconRightRay
	fill midnight
.ideaIconBulb
	fill midnight
.ideaIconBulbMiddle
	fill midnight
.ideaIconBulbBase
	fill midnight