@import 'nib'
@import '../variables'

.ideaIcon
	height 100%
	width 100%
	-webkit-user-select none
.ideaIconLeftRay
	fill midnight90
.ideaIconMidLeftRay
	fill midnight90
.ideaIconTopRay
	fill midnight90
.ideaIconMidRightRay
	fill midnight90
.ideaIconRightRay
	fill midnight90
.ideaIconBulb
	fill midnight90
.ideaIconBulbMiddle
	fill midnight90
.ideaIconBulbBase
	fill midnight90