@import 'nib'
@import '../variables'

.installFireIconWrapper
	transition transform normalSpeed
.installFireIcon
	height inherit
	width inherit
	-webkit-user-select none
.installFireIconFill
	fill midnight