@import 'nib'
@import '../variables'

.loginIconWrapper
	transition transform normalSpeed
.loginIcon
	height inherit
	width inherit
	-webkit-user-select none
.loginIconBorder
	fill midnight90
.loginIconArrow
	fill midnight90