@import 'nib'
@import '../variables'

.logoutIcon
	height 100%
	width 100%
	-webkit-user-select none

//Logout Fill States
.logoutIconBar
	fill midnight90
.logoutIconOutline
	fill midnight90

//Logout Hover States
.no-touch .logoutIcon:hover .logoutIconBar
	fill radiantBlue
.no-touch .logoutIcon:hover .logoutIconOutline
	fill radiantBlue