@import 'nib'
@import '../variables'

.newIcon
	height 100%
	width 100%
	opacity 0.5
	-webkit-user-select none
.no-touch .newIcon
	opacity 1
.newIconBorder
	fill midnight
.newIconSymbol
	fill midnight