@import 'nib'
@import '../variables'

.newIconWrapper
	transition transform normalSpeed
.newIcon
	height inherit
	width inherit
	-webkit-user-select none
.newIconBorder
	fill midnight90
.newIconSymbol
	fill midnight90