@import 'nib'
@import '../variables'

.notificationsIconWrapper
	transition transform normalSpeed
.notificationsIcon
	height inherit
	width inherit
	-webkit-user-select none
.notificationsIconCircle
	fill midnight90
.noticationsIconTopLine
	fill midnight90
.notificationsIconMiddleLine
	fill midnight90
.notificationsIconBottomLine
	fill midnight90