@import 'nib'
@import '../variables'

.notificationsIcon
	height 100%
	width 100%
	-webkit-user-select none
.notificationsIconCircle
	fill midnight90
.noticationsIconTopLine
	fill midnight90
.notificationsIconMiddleLine
	fill midnight90
.notificationsIconBottomLine
	fill midnight90