@import 'nib'
@import '../variables'

.notificationsIcon
	height 100%
	width 100%
	opacity 0.5
	-webkit-user-select none
.no-touch .notificationsIcon:hover
	opacity 1
.notificationsIconCircle
	fill midnight
.noticationsIconTopLine
	fill midnight
.notificationsIconMiddleLine
	fill midnight
.notificationsIconBottomLine
	fill midnight