@import 'nib'
@import '../variables'

.pauseIconWrapper
	transition transform normalSpeed
.pauseIcon
	height inherit
	width inherit
	-webkit-user-select none
.pauseIconLeftLine
	fill midnight90
.pauseIconRightLine
	fill midnight90