@import 'nib'
@import '../variables'

.profileIconWrapper
	transition transform normalSpeed
.profileIcon
	height inherit
	width inherit
	-webkit-user-select none
.profileIconBorder
	fill midnight90
.profileIconLeftEye
	fill midnight90
.profileIconRightEye
	fill midnight90