@import 'nib'
@import '../variables'

.reloadingIcon
	height 100%
	width 100%
	opacity 0.5
.reloadingIcon:hover
	opacity 1
.reloadingIconTopArrow
	fill midnight
.reloadingIconBottomArrow
	fill midnight