@import 'nib'
@import '../variables'

.reloadingIconWrapper
	transition transform normalSpeed
.reloadingIcon
	height inherit
	width inherit
	-webkit-user-select none
.reloadingIconTopArrow
	fill midnight90
.reloadingIconBottomArrow
	fill midnight90