@import 'nib'
@import '../variables'

.scrollIconWrapper
	transition transform normalSpeed
.scrollIcon
	height inherit
	width inherit
	-webkit-user-select none
.scrollIconArrow
	fill midnight90
.scrollIconBorder
	fill midnight90