@import 'nib'
@import '../variables'

.scrollIcon
	height 100%
	width 100%
	opacity 0.5
	-webkit-user-select none
.no-touch .scrollIcon:hover
	opacity 1
.scrollIconArrow
	fill midnight
.scrollIconBorder
	fill midnight