@import 'nib'
@import '../variables'

.signupIcon
	height 100%
	width 100%
	opacity 0.5
.signupIcon:hover
	opacity 1
.signupIconBorder
	fill midnight
.signupIconSymbol
	fill midnight
.signupIconLeftEye
	fill midnight
.signupIconRightEye
	fill midnight