@import 'nib'
@import '../variables'

.signupIcon
	height 100%
	width 100%
	-webkit-user-select none
.signupIconBorder
	fill midnight90
.signupIconSymbol
	fill midnight90
.signupIconLeftEye
	fill midnight90
.signupIconRightEye
	fill midnight90