@import 'nib'
@import '../variables'

.signupIcon
	height 100%
	width 100%
	pointer-events none
.signupIconBorder
	fill midnight
.signupIconSymbol
	fill midnight
.signupIconLeftEye
	fill midnight
.signupIconRightEye
	fill midnight