@import 'nib'
@import '../variables'

.smileIcon
	height 100%
	width 100%
	opacity 0.5
	-webkit-user-select none
.no-touch .smileIcon:hover
	opacity 1
.smileIconLeftEye
	fill midnight
.smileIconRightEye
	fill midnight
.smileIconSmile
	fill midnight