@import 'nib'
@import '../variables'

.smileIcon
	height 100%
	width 100%
	-webkit-user-select none
.smileIconLeftEye
	fill midnight90
.smileIconRightEye
	fill midnight90
.smileIconSmile
	fill midnight90