@import 'nib'
@import '../variables'

.smileIconWrapper
	transition transform normalSpeed
.smileIcon
	height inherit
	width inherit
	-webkit-user-select none
.smileIconLeftEye
	fill midnight90
.smileIconRightEye
	fill midnight90
.smileIconSmile
	fill midnight90