@import 'nib'
@import '../variables'

.sortIcon
	height 100%
	width 100%
	-webkit-user-select none
.sortIconLeftLine
	fill midnight90
.sortIconTopLine
	fill midnight90
.sortIconMiddleLine
	fill midnight90
.sortIconBottomLine
	fill midnight90