@import 'nib'
@import '../variables'

.sortIcon
	height 100%
	width 100%
	pointer-events none
.sortIconLeftLine
	fill midnight
.sortIconTopLine
	fill midnight
.sortIconMiddleLine
	fill midnight
.sortIconBottomLine
	fill midnight