@import 'nib'
@import '../variables'

.sortIconWrapper
	transition transform normalSpeed
.sortIcon
	height inherit
	width inherit
	-webkit-user-select none
.sortIconLeftLine
	fill midnight90
.sortIconTopLine
	fill midnight90
.sortIconMiddleLine
	fill midnight90
.sortIconBottomLine
	fill midnight90