@import 'nib'
@import '../variables'

.textIcon
	height 100%
	width 100%
	opacity 0.5
	-webkit-user-select none
.no-touch .textIcon:hover
	opacity 1
.textIconTopLine
	fill midnight
.textIconMidTopLine
	fill midnight
.textIconMiddleLine
	fill midnight
.textIconMidBottomLine
	fill midnight
.textIconBottomLine
	fill midnight
.textIconPeriod
	fill midnight