@import 'nib'
@import '../variables'

.textIcon
	height 100%
	width 100%
	pointer-events none
.textIconTopLine
	fill midnight
.textIconMidTopLine
	fill midnight
.textIconMiddleLine
	fill midnight
.textIconMidBottomLine
	fill midnight
.textIconBottomLine
	fill midnight
.textIconPeriod
	fill midnight