@import 'nib'
@import '../variables'

.textIcon
	height 100%
	width 100%
	-webkit-user-select none
.textIconTopLine
	fill midnight90
.textIconMidTopLine
	fill midnight90
.textIconMiddleLine
	fill midnight90
.textIconMidBottomLine
	fill midnight90
.textIconBottomLine
	fill midnight90
.textIconPeriod
	fill midnight90