@import 'nib'
@import '../variables'

.thinkingIconWrapper
	transition transform normalSpeed
.thinkingIcon
	height inherit
	width inherit
	-webkit-user-select none
.thinkingIconLeftEye
	fill midnight90
.thinkingIconRightEye
	fill midnight90
.thinkingIconStraightSmile
	fill midnight90