@import 'nib'
@import '../variables'

.thinkingIcon
	height 100%
	width 100%
	pointer-events none
.thinkingIconLeftEye
	fill midnight
.thinkingIconRightEye
	fill midnight
.thinkingIconStraightSmile
	fill midnight