@import 'nib'
@import '../variables'

.thinkingIcon
	height 100%
	width 100%
	-webkit-user-select none
.thinkingIconLeftEye
	fill midnight90
.thinkingIconRightEye
	fill midnight90
.thinkingIconStraightSmile
	fill midnight90