@import 'nib'
@import '../variables'

.usernameIconWrapper
	transition transform normalSpeed
.usernameIcon
	height inherit
	width inherit
	-webkit-user-select none
.usernameIconHead
	fill midnight90
.usernameIconBody
	fill midnight90