@import 'nib'
@import '../variables'

.volumeIcon
	height 100%
	width 100%
	pointer-events none
.volumeIconMegaphone
	fill midnight
.volumeIconSmallSoundwave
	fill midnight
.volumeIconLargeSoundwave
	fill midnight