@import 'nib'
@import '../variables'

.volumeIconWrapper
	transition transform normalSpeed
.volumeIcon
	height inherit
	width inherit
	-webkit-user-select none
.volumeIconMegaphone
	fill midnight90
.volumeIconSmallSoundwave
	fill midnight90
.volumeIconLargeSoundwave
	fill midnight90