@import 'nib'
@import '../variables'

.waitingIconWrapper
	transition transform normalSpeed
.waitingIcon
	height inherit
	width inherit
	-webkit-user-select none
.waitingIconClock
	fill midnight
.waitingIconClockMinuteHand
	fill midnight
	transform-origin 50% 100%
	animation rotate superSlowSpeed infinite
.waitingIconClockPendulum
	fill midnight
	transform-origin 50% 0%
	animation sway superSlowSpeed infinite
.waitingIconClockBird
	fill midnight90
	transform-origin 0% 100%
	transform translate3d(10px,0,0) rotateZ(90deg)
	transition transform normalSpeed