<template name="textIcon">
	<div class="textIconWrapper iconWrapper">
		<svg class="textIcon icon" viewBox="0 0 100 100">
			<rect class="textIconTopLine" y="4.42" width="100" height="10.001"/>
			<rect class="textIconMidTopLine" y="24.423" width="70" height="10.001"/>
			<rect class="textIconMiddleLine" y="44.426" width="100" height="10.001"/>
			<rect class="textIconMidBottomLine" y="64.429" width="100" height="10.001"/>
			<rect class="textIconBottomLine" y="84.431" width="70" height="10.002"/>
			<circle class="textIconPeriod" cx="93.852" cy="89.432" r="6.148"/>
		</svg>
	</div>
</template>