@import 'nib'
@import '../variables'

.sidebar
  minSize(360)
  size(360)
  maxSize(360)
  z-index 1
  &.left
    position(fixed,20,auto,20,20)
    .sidebarHeader
      left 0
      &:after
        left 0
    .sidebarNotches
      right 0
    .sidebarContent
      left 0
  &.right
    position(fixed,20,20,20,auto)
    .sidebarHeader
      right 0
      &:after
        right 0
    .sidebarNotches
      left 0
    .sidebarContent
      right 0
.sidebarHeader
  size(auto,inherit)
  position(absolute,auto,auto,auto,auto)
  centerText(40)
  &:after
    content ""
    minSize(300,0)
    size(300,0)
    maxSize(300,0)
    position(absolute,auto,auto,0,auto)
    border-bottom 1px solid white(0.4)
    pointer-events none
  .sidebarHeaderItem
    float left
    size(auto,inherit)
    padding 0 10px 0 10px
    cursor pointer
    &:first-child
      padding 0 10px 0 0
    &:last-child
      padding 0 0 0 10px
    .sidebarHeaderItemLink
      color white(0.4)
      &:hover
        color white(0.9)
.sidebarNotches
  size(40,auto)
  position(absolute,60px,auto,auto,auto)
  .sidebarNotch
    size(40,40)
    margin 0 0 20px 0
.sidebarContent
  minSize(300,auto)
  size(300,auto)
  maxSize(300,auto)
  position(absolute,60px,auto,auto,auto)
  color white(0.4)