@import 'nib'
@import 'variables'

*
	box-sizing border-box
	-webkit-tap-highlight-color rgba(0,0,0,0)
	-webkit-user-select none
html
	overflow-x hidden
	background offWhite90
body
	margin 0
	min-width 400px
	overflow-x hidden
	//overflow-y scroll
	background offWhite90
	font-family 'Play', sans-serif
html.scrollingDisabled,
body.scrollingDisabled
	overflow hidden
input,button,textarea
	margin 0
	border none
	border-radius 0
	-webkit-appearance none
	-webkit-user-select text
	-moz-user-select text
	-ms-user-select text
	user-select text
	resize none
	display block
input:focus,
textarea:focus
	outline none
h1,h2,h3,h4,h5,h6
	padding 0
	margin 0
	font-weight normal
[placeholder]:focus::-webkit-input-placeholder
	transition opacity normalSpeed
	opacity 0.5
//Fonts
@font-face
	font-family 'Play'
	font-style normal
	font-weight 300
	src local('Play'), url('/fonts/IkErdnKw9ItVkLeeur9GHfesZW2xOQ-xsNqO47m55DA.woff') format('woff')
@font-face
	font-family 'Play'
	font-style normal
	font-weight 700
	src local('Play-Bold'), url('/fonts/aBiGxW3iLixHo08CkkYT9gLUuEpTyoUstqEm5AMlJo4.woff') format('woff')