@import 'nib'
@import 'variables'

//Container Styles
#container
	//position fixed
	//top 80px
	//right 0
	//bottom 0
	//left 0
	//z-index 101
	height 100%
	overflow-x hidden
	overflow-y scroll
	//background midnightBlue
	transition transform normalSpeed

//Tile Container Styles
#tiles
	margin 0 auto
	background clouds
	height 100%
	position relative
	z-index 1
	transition transform normalSpeed

#tilesWrapper
	width 800px
	//background red
	margin 0 auto
	position relative
	padding 80px 0 20px 0
#tilesWrapper:after
	content ''
	display table
	clear both

//ONE COLUMN LAYOUT
@media only screen and (max-width : 800px)
	#tilesWrapper
		width 400px

//TWO COLUMN LAYOUT
@media only screen and (min-width : 801px) and (max-width : 1200px)
	#tilesWrapper
		width 800px

//THREE COLUMN LAYOUT
@media only screen and (min-width : 1201px) and (max-width : 1600px)
	#tilesWrapper
		width 1200px

//FOUR COLUMN LAYOUT
@media only screen and (min-width : 1601px) and (max-width : 2000px)
	#tilesWrapper
		width 1600px

//FIVE COLUMN LAYOUT
@media only screen and (min-width : 2001px) and (max-width : 2400px)
	#tilesWrapper
		width 2000px

//SIX COLUMN LAYOUT
@media only screen and (min-width : 2401px) and (max-width : 2800px)
	#tilesWrapper
		width 2400px

//SEVEN COLUMN LAYOUT
@media only screen and (min-width : 2801px) and (max-width : 3200px)
	#tilesWrapper
		width 2800px

//EIGHT COLUMN LAYOUT
@media only screen and (min-width : 3201px) and (max-width : 3600px)
	#tilesWrapper
		width 3200px

//NINE COLUMN LAYOUT
@media only screen and (min-width : 3601px) and (max-width : 4000px)
	#tilesWrapper
		width 3600px

//TEN COLUMN LAYOUT
@media only screen and (min-width : 4001px) and (max-width : 4400px)
	#tilesWrapper
		width 4000px

//Messages Styles
#messages
	position fixed
	top 380px
	right 0
	bottom 0
	left 0
	z-index 101
	background clouds
	color midnightBlue
	perspective 100px
	perspective-origin 50% 50%
	perspective-origin 0 0
	transform-style flat
	display none

.messagesContainer
	position absolute
	top 0
	right 0
	bottom 100px
	left 0
	overflow-x hidden
	overflow-y scroll

.noMessagesNotice
	text-align center
	height 42px
	width 600px
	font-size 42px
	position absolute
	top 50%
	left 50%
	margin -21px 0 0 -300px

//tilePage Styles
#tilePage
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	z-index 1
	transform scale3d(0,0,0)
	opacity 0
	transition transform normalSpeed, opacity normalSpeed
	pointer-events none

#tilePageWrapper
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	background-size cover
	background-repeat no-repeat
	background-position 50% 50%
	color clouds
	text-shadow 0 1px 1px midnightBlue
#tilePageName
	position absolute
	bottom 300px
	left 0
	right 0
	height 80px
	font-size 40px
	line-height 40px
	padding 20px
	opacity 0.9
#tilePageDescription
	position absolute
	right 0
	bottom 80px
	left 0px
	height 220px
	padding 20px
	opacity 0.9

//Handle TilePageName Genre Styles
#tilePageWrapper[data-genre="Free to Play"] #tilePageName
	background turquoise
#tilePageWrapper[data-genre="Platformer"] #tilePageName
	background emerland
#tilePageWrapper[data-genre="Action"] #tilePageName
	background peterRiver
#tilePageWrapper[data-genre="Adventure"] #tilePageName
	background amethyst
#tilePageWrapper[data-genre="Strategy"] #tilePageName
	background wetAsphalt
#tilePageWrapper[data-genre="Role Playing"] #tilePageName
	background sunflower
#tilePageWrapper[data-genre="Massively Multiplayer"] #tilePageName
	background carrot
#tilePageWrapper[data-genre="Simulation"] #tilePageName
	background alizarin
#tilePageWrapper[data-genre="Puzzle"] #tilePageName
	background purpleRain
#tilePageWrapper[data-genre="Sports"] #tilePageName
	background concrete

//Handle TilePageDescription Genre Styles
#tilePageWrapper[data-genre="Free to Play"] #tilePageDescription
	background greenSea
#tilePageWrapper[data-genre="Platformer"] #tilePageDescription
	background nephritis
#tilePageWrapper[data-genre="Action"] #tilePageDescription
	background belizeHole
#tilePageWrapper[data-genre="Adventure"] #tilePageDescription
	background wisteria
#tilePageWrapper[data-genre="Strategy"] #tilePageDescription
	background midnightBlue
#tilePageWrapper[data-genre="Role Playing"] #tilePageDescription
	background orange
#tilePageWrapper[data-genre="Massively Multiplayer"] #tilePageDescription
	background pumpkin
#tilePageWrapper[data-genre="Simulation"] #tilePageDescription
	background pomegranate
#tilePageWrapper[data-genre="Puzzle"] #tilePageDescription
	background risingTyphoon
#tilePageWrapper[data-genre="Sports"] #tilePageDescription
	background asbestos

//Handle Application States
#container[data-state="view"]
	//We disable pointer events on the container so that the browse page doesn't scroll anymore.
	pointer-events none
#container[data-state="view"] #nav
	//We still want pointer events when the user clicks on the navigation however, so we enable it here.
	pointer-events auto
#container[data-state="view"] #tiles
	//Prevent the user from accidentally clicking or scrolling the tiles page
	pointer-events none
#container[data-state="view"] #tilePage
	//Allow the user to interact with the tilePage
	transform scale3d(1,1,1)
	opacity 1
	pointer-events auto

//Handle Modal States
#container[data-modal="login"] #nav,
#container[data-modal="profile"] #nav
	transform translate3d(0,240px,0)