@import 'nib'
@import 'palette'

//Main Styles
.paneWrapper
	position absolute
	top 70px
	right 0
	bottom 0
	left 0
	transition top slowSpeed
	background darkestGrey
.paneWrapper[data-state="login"]
	top 280px
.paneWrapper[data-state="signup"]
	top 280px
.paneWrapper[data-state="settings"]
	top 280px
.paneWrapper[data-state="add"]
	top 280px
.pane
	position absolute
	top 0
	right 10px
	bottom 0
	left 10px