@import 'nib'
@import 'palette'

.nav
	width 400px
	//height 40px
	position absolute
	left 50%
	margin-left -200px
	top 20px
.nav .circleButton
	position absolute
	top 5px
.nav .circleButton:nth-of-type(1)
	left 50px
.nav .circleButton:nth-of-type(2)
	right 50px
.nav .dualButtonWrapper
	position absolute
	left 50%
	margin-left -100px
.nav .modal
	margin 0
	position absolute
	top 60px
	right 0
	left 0