@import 'nib'

//Palette Styles
shadow = #222120
darkestGrey = #37373B
darkerGrey = #3F3F44
darkGrey = #47474C
grey = #524F55
lightGrey = #797780
lighterGrey = #A59EAA
lightestGrey = #CEC6D4
offWhite = #FAF3FF

//Animation Speeds
normalSpeed = 512ms linear
slowSpeed = 768ms ease-in-out