@import 'nib'
@import 'palette'

.profile
	position absolute
	top 0
	right 20px
	bottom 20px
	left 20px
	transition transform normalSpeed
.profile .contentViewer
	margin 0 -20px 20px -20px
	border-radius 0
	transition left normalSpeed, right normalSpeed, border-radius normalSpeed
.profile .contentViewerToolbar
	opacity 0
	transition opacity normalSpeed
.profile .messages
	opacity 0
	transition opacity normalSpeed
.profile .tileHeader
	margin 0 -20px 20px -20px