@import 'nib'
@import 'variables'

//ONE COLUMN LAYOUT
@media only screen and (max-width : 800px)
	#tilesWrapper,
	#communityWrapper
		width tileWidth

//TWO COLUMN LAYOUT
@media only screen and (min-width : 801px) and (max-width : 1200px)
	#tilesWrapper,
	#communityWrapper
		width tileWidth*2

//THREE COLUMN LAYOUT
@media only screen and (min-width : 1201px) and (max-width : 1600px)
	#tilesWrapper
		width tileWidth*3
	#communityWrapper
		width tileWidth*2

//FOUR COLUMN LAYOUT
@media only screen and (min-width : 1601px) and (max-width : 2000px)
	#tilesWrapper
		width tileWidth*4
	#communityWrapper
		width tileWidth*2

//FIVE COLUMN LAYOUT
@media only screen and (min-width : 2001px) and (max-width : 2400px)
	#tilesWrapper
		width tileWidth*5
	#communityWrapper
		width tileWidth*2

//SIX COLUMN LAYOUT
@media only screen and (min-width : 2401px) and (max-width : 2800px)
	#tilesWrapper
		width tileWidth*6
	#communityWrapper
		width tileWidth*2

//SEVEN COLUMN LAYOUT
@media only screen and (min-width : 2801px) and (max-width : 3200px)
	#tilesWrapper
		width tileWidth*7
	#communityWrapper
		width tileWidth*2

//EIGHT COLUMN LAYOUT
@media only screen and (min-width : 3201px) and (max-width : 3600px)
	#tilesWrapper
		width tileWidth*8
	#communityWrapper
		width tileWidth*2

//NINE COLUMN LAYOUT
@media only screen and (min-width : 3601px) and (max-width : 4000px)
	#tilesWrapper
		width tileWidth*9
	#communityWrapper
		width tileWidth*2

//TEN COLUMN LAYOUT
@media only screen and (min-width : 4001px) and (max-width : 4400px)
	#tilesWrapper
		width tileWidth*10
	#communityWrapper
		width tileWidth*2