@import 'nib'

//Colors
offWhite = #F5F5F5
offWhite90 = rgba(245,245,245,0.9)
clouds = #ECF0F1
clouds90 = rgba(236,240,241,0.9)
clouds80 = rgba(236,240,241,0.8)
clouds70 = rgba(236,240,241,0.7)
clouds60 = rgba(236,240,241,0.6)
clouds50 = rgba(236,240,241,0.5)
clouds40 = rgba(236,240,241,0.4)
clouds30 = rgba(236,240,241,0.3)
clouds20 = rgba(236,240,241,0.2)
clouds10 = rgba(236,240,241,0.1)
steelBlue = #54606E
steelBlue90 = rgba(84,96,110,0.9)
steelBlue80 = rgba(84,96,110,0.8)
steelBlue70 = rgba(84,96,110,0.7)
steelBlue60 = rgba(84,96,110,0.6)
steelBlue50 = rgba(84,96,110,0.5)
steelBlue40 = rgba(84,96,110,0.4)
steelBlue30 = rgba(84,96,110,0.3)
steelBlue20 = rgba(84,96,110,0.2)
steelBlue10 = rgba(84,96,110,0.1)
ironBlue = #728294
midnight = #2B3D4F
midnight90 = rgba(43,61,79,0.9)
midnight80 = rgba(43,61,79,0.8)
midnight70 = rgba(43,61,79,0.7)
midnight60 = rgba(43,61,79,0.6)
midnight50 = rgba(43,61,79,0.5)
midnight40 = rgba(43,61,79,0.4)
midnight30 = rgba(43,61,79,0.3)
midnight20 = rgba(43,61,79,0.2)
midnight10 = rgba(43,61,79,0.1)

//Radius
radius = 3px

//Nav
navHeight = 80px
gameSectionsNavWidth = 800px
gameSectionNavWidth = 100px
navButtonHeight = 30px
navButtonWidth = 30px

//Dual Button
dualButtonWidth = 200px
dualButtonHeight = 40px
middleButtonWidth = 30px
middleButtonHeight = 30px

//Tiles
tileWidth = 400px
tileHeight = 380px
tileInfoHeaderHeight = 60px
tileInfoButtonHeight = 60px
tileHeaderIconHeight = 50px
tileHeaderIconWidth = 50px

//Scroll Indicator
scrollIndicatorWidth = 48px
scrollIndicatorHeight = 48px

//Animation Speeds
fastSpeed = 112ms linear
normalSpeed = 512ms linear
slowSpeed = 768ms ease-in-out